<head>
  <meta name='description' content='Myth - Illusions - Memories by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Myth - Illusions - Memories by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>Myth - Illusions - Memories by OdicforceSounds</title>
</head>
<div id="player">
  <iframe width="45%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/314306016&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>
<div id="text-box">
  <p>what is real?</p>
  <p>what is not an interpretation?</p>
  <p>what is fantasy?</p>
  <p>what are illusions?</p>
  <p>what is myth?</p>
  <p>what are memories?</p>
  <br><br>
</div>