body {
  background-color: #000000;
  font-size: 35px;
  padding-left: 0%;
  color:white;
}
/* TOP BAR ( NO MENU ) */
  nav {
  background: #66F000;
    /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #06FF00, #00000F);
    /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6060d0, #010FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 7px;
  }
  nav .brand-logo {
    font-size: 16px;
    align-self: center;
    text-align: center;
    margin-left: 29%;
  }

  nav .brand-logo .author {
    font-size: 100%;
    padding-left: 200px;
    align-self: center;
    text-align: center;
    margin-left: 7%;
  }
  nav .navbar-fixed {
    padding-top: 0%;
    font-size: 16px;
  }

/* TOP MENU */
  
div .menubar{
  position: absolute;
  padding-left: 3%;
  text-align: center;
  margin-bottom: 0%;
  background: -webkit-linear-gradient(to left, #06FF00, #00000F);
}
div .logod {
  padding-left: 7%;
  padding-top: 4.5%;
  position: absolute;
  background: -webkit-transform(to left, #eee000, #aaaeee)
}
div .luck1 {
  position: absolute;
  padding-top: 12%;
  padding-left: 85%;
}
div .luck2 {
  position: absolute;
  padding-top: 12%;
  padding-left: 5%;
}
div .aside {
  padding-top: 0.8%;
  text-align: center;
  font-size: 39px;
}
div .license {
  text-align: center;
  padding-top: 10%;
  font-size: 12px;
}
div .taoface {
  position: absolute;
  text-align: center;
  padding-top: 13%;
  padding-left: 45%;
}
div .divider-2 {
  position: absolute;
  padding-top: 20%;
}
div .text {
  align-content: justify;
  padding-top: 0.6%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 19px;

}
div .embalbum {
  padding-top: 1%;
  padding-left: 25%;
  text-align: center;
  align-content: center;


}
div .pdescription {
  font-size: 14px;
  padding-right: 30%;

}
/* JS disabled styles */
  .no-js nav li:hover ul { display:block; }
   
/* base nav styles */
    nav { display:block; margin-top: 0;  margin:0 auto 100px; border:0px solid #000FFF; position:relative; background-color:#000000; font:20px Tahoma, Sans-serif; }
    nav ul { padding:0; margin:0; }
    nav li { position:relative; float:center; list-style-type:none; margin-top: 0.5px; }
    nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
    nav li a { display:block; padding:10px 24px; border-left:0px solid #999; border-right:0px solid #222; color:#00FFFF; text-decoration:none; }
    nav li a:focus { outline:none; text-decoration:none solid #000; }
    nav li:first-child a { border-left:none; }
    nav li.last a { border-right:none; }
    nav a span { display:block; float:right; margin-left:20px; }
    nav ul ul { display:none; width:100%; position:absolute; left:2; background:#0000FF; }
    nav ul ul li { float:none; }
    nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:16px; }
    nav ul ul a:hover { background-color:#555; }
    /* CSS3 Style */
    .borderradius nav { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
    .cssgradients nav { background-image:-moz-linear-gradient(0% 22px 90deg, #222, #999); background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#222)); }
    .boxshadow.rgba nav { -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75); -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); box-shadow:2px 2px 2px rgba(0,0,0,.75); }
    .cssgradients nav li:hover { background-image:-moz-linear-gradient(0% 100px 90deg, #999, #222); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555)); }
    .borderradius nav ul ul { -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
    .boxshadow.rgba nav ul ul { background-color:rgba(0,0,0,0.8); -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); box-shadow:2px 2px 2px rgba(0,0,0,.8); }
    .rgba nav ul ul li { border-left:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); }
    .rgba nav ul ul a:hover { background-color:rgba(85,85,85,.9); }
    .borderradius.rgba nav ul ul li.last { border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
    .csstransforms ul a span { -moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg); }
/* fallbacks */
    .no-cssgradients nav, .no-js nav { padding-bottom:4px; border:none; background:url(../fallback/navBG.gif) repeat-x 0 0; }
    .no-borderradius nav ul, .no-js nav ul { background:url(../fallback/navRight.gif) no-repeat 100% 0; }
    .no-borderradius nav ul ul, .no-js nav ul ul { background:none; }
    .no-borderradius nav li, .no-js nav li { height:44px; }
    .no-cssgradients nav li:hover, .no-js nav li:hover { background:url(../fallback/navOverBG.gif) repeat-x 0 0; }
    .no-borderradius nav li li, .no-js nav li li { height:auto; width:98%; left:-2px; }
    .no-borderradius nav li:first-child, .no-js nav li:first-child { background:url(../fallback/navLeft.gif) no-repeat 0 0; }
    .no-borderradius nav li:first-child:hover, .no-js nav li:first-child:hover { background:url(../fallback/navOverLeft.gif) no-repeat 0 0; }
    .no-borderradius nav li li:first-child, .no-js nav li li:first-child { background:none; }
    .no-rgba nav ul ul, .no-js nav ul ul { left:1px; padding-left:2px; background:url(../fallback/subnavBG.png) no-repeat 100% 100%; }
    .no-rgba nav ul ul a, .no-js nav ul ul a { left:3px; }
    .no-rgba nav ul ul a:hover { background:url(../fallback/subOverBG.png) repeat 0 0; }
    .no-csstransforms ul a span { height:7px; width:12px; margin-top:8px; text-indent:-5000px; overflow:hidden; background:url(../fallback/indicator.png) no-repeat 0 0; }
    .no-borderradius ul ul li.last { margin-bottom:10px; }
    .no-cssgradients.boxshadow nav { box-shadow:none; }


/* Buttons to Share in several Social Media */
  #share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  }
  .top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #fff;
  margin-bottom: 0; }
  .top-bar ul {
    margin-bottom: 0;
    list-style: none; }
  .top-bar .row {
    max-width: none; }
  .top-bar form,
  .top-bar input {
    margin-bottom: 0; }
  .top-bar input {
    height: 2.45em; }
  .top-bar .button {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 0; }
  .top-bar .title-area {
    position: relative;
    margin: 0; }
  .top-bar .name {
    height: 45px;
    margin: 0;
    font-size: 16px; }
    .top-bar .name h1 {
      line-height: 45px;
      font-size: 1.0625em;
      margin: 0; }
      .top-bar .name h1 a {
        font-weight: bold;
        color: white;
        width: 50%;
        display: block;
        padding: 0 15px; }
  .top-bar .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0; }
    .top-bar .toggle-topbar a {
      color: white;
      text-transform: uppercase;
      font-size: 0.8125em;
      font-weight: bold;
      position: relative;
      display: block;
      padding: 0 15px;
      height: 45px;
      line-height: 45px; }
    .top-bar .toggle-topbar.menu-icon {
      right: 15px;
      top: 50%;
      margin-top: -16px;
      padding-left: 40px; }
      .top-bar .toggle-topbar.menu-icon a {
        text-indent: -48px;
        width: 34px;
        height: 34px;
        line-height: 33px;
        padding: 0;
        color: white; }
        .top-bar .toggle-topbar.menu-icon a span {
          position: absolute;
          right: 0;
          display: block;
          width: 16px;
          height: 0;
          -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
          box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }
  .top-bar.expanded {
    height: auto;
    background: transparent; }
    .top-bar.expanded .title-area {
      background: #111111; }
    .top-bar.expanded .toggle-topbar a {
      color: #888888; }
      .top-bar.expanded .toggle-topbar a span {
        -webkit-box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
        box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888; }

.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out; }
  .top-bar-section ul {
    width: 100%;
    height: auto;
    display: block;
    background: #fff;
    font-size: 16px;
    margin: 0; }
  .top-bar-section .divider,
  .top-bar-section [role="separator"] {
    border-bottom: solid 1px #fff;
    border-top: solid 1px black;
    clear: both;
    height: 1px;
    width: 100%; }
  .top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: white;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-size: 0.8125em;
    font-weight: bold;
    background: #fff; }
    .top-bar-section ul li > a.button {
      background: #fff;
      font-size: 0.8125em;
      padding-right: 15px;
      padding-left: 15px; }
      .top-bar-section ul li > a.button:hover {
        background: #fff; }
    .top-bar-section ul li > a.button.secondary {
      background: #fff; }
      .top-bar-section ul li > a.button.secondary:hover {
        background: #fff; }
    .top-bar-section ul li > a.button.success {
      background: #fff; }
      .top-bar-section ul li > a.button.success:hover {
        background: #fff; }
    .top-bar-section ul li > a.button.alert {
      background: #fff; }
      .top-bar-section ul li > a.button.alert:hover {
        background: #fff; }
  .top-bar-section ul li:hover > a {
    background: #fff;
    color: white; }
  .top-bar-section ul li.active > a {
    background: #fff;
    color: black; }
  .top-bar-section .has-form {
    padding: 15px; }
  .top-bar-section .has-dropdown {
    position: relative; }
    .top-bar-section .has-dropdown > a:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
      border-left-style: solid;
      margin-right: 15px;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; }
    .top-bar-section .has-dropdown.moved {
      position: static; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        display: block; }
  .top-bar-section .dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    z-index: 99; }
    .top-bar-section .dropdown li {
      width: 100%;
      height: auto; }
      .top-bar-section .dropdown li a {
        font-weight: normal;
        padding: 8px 15px; }
        .top-bar-section .dropdown li a.parent-link {
          font-weight: bold; }
      .top-bar-section .dropdown li.title h5 {
        margin-bottom: 0; }
        .top-bar-section .dropdown li.title h5 a {
          color: white;
          line-height: 22.5px;
          display: block; }
    .top-bar-section .dropdown label {
      padding: 8px 15px 2px;
      margin-bottom: 0;
      text-transform: uppercase;
      color: #555555;
      font-weight: bold;
      font-size: 0.625em; }

.top-bar-js-breakpoint {
  width: 940px !important;
  visibility: hidden; }

.js-generated {
  display: block; }

@media only screen and (min-width: 940px) {
  .top-bar {
    background: #fff;
    *zoom: 1;
    overflow: visible; }
    .top-bar:before, .top-bar:after {
      content: " ";
      display: table; }
    .top-bar:after {
      clear: both; }
    .top-bar .toggle-topbar {
      display: none; }
    .top-bar .title-area {
      float: left; }
    .top-bar .name h1 a {
      width: auto; }
    .top-bar input,
    .top-bar .button {
      line-height: 2em;
      font-size: 0.875em;
      height: 2em;
      padding: 0 10px;
      position: relative;
      top: 8px; }
    .top-bar.expanded {
      background: #fff; }

  .contain-to-grid .top-bar {
    max-width: 62.5em;
    margin: 0 auto;
    margin-bottom: 0; }

  .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important; }
    .top-bar-section ul {
      width: auto;
      height: auto !important;
      display: inline; }
      .top-bar-section ul li {
        float: left; }
        .top-bar-section ul li .js-generated {
          display: none; }
    .top-bar-section li.hover > a:not(.button) {
      background: #fff;
      color: white; }
    .top-bar-section li a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      background: #fff; }
      .top-bar-section li a:not(.button):hover {
        background: #fff; }
    .top-bar-section .has-dropdown > a {
      padding-right: 35px !important; }
      .top-bar-section .has-dropdown > a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 22.5px; }
    .top-bar-section .has-dropdown.moved {
      position: relative; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        display: none; }
    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
      display: block; }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: none;
      content: "\00bb";
      top: 1em;
      margin-top: -7px;
      right: 5px; }
    .top-bar-section .dropdown {
      left: 0;
      top: auto;
      background: transparent;
      min-width: 100%; }
      .top-bar-section .dropdown li a {
        color: white;
        line-height: 1;
        white-space: nowrap;
        padding: 7px 15px;
        background: #fff; }
      .top-bar-section .dropdown li label {
        white-space: nowrap;
        background: #fff; }
      .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0; }
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
      border-bottom: none;
      border-top: none;
      border-right: solid 1px #fff;
      border-left: solid 1px #fff;
      clear: none;
      height: 45px;
      width: 0; }
    .top-bar-section .has-form {
      background: #fff;
      padding: 0 15px;
      height: 45px; }
    .top-bar-section ul.right li .dropdown {
      left: auto;
      right: 0; }
      .top-bar-section ul.right li .dropdown li .dropdown {
        right: 100%; }

  .no-js .top-bar-section ul li:hover > a {
    background: #fff;
    color: white; }
  .no-js .top-bar-section ul li:active > a {
    background: #fff;
    color: white; }
  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block; } }