<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
<div class="row">
<div class="col-sm-6">
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3268737269/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
</div>
<div>
<h5>Call Me Karma</h5>
  <h6>Not Free</h6>
  <br>
  <p>Karma is more than "my karma is only for me"</p>
  <p>Karma dance with Tao - Have ( <a routerLink="/tao" routerLinkActive="active"><b>Precision in Time</b></a> ) -
    where we can make a relation to an "<a routerLink="/we/are/tools/objects/of/expression" routerLinkActive="active">object</a>".</p>
  <p>In this case, me :)</p>
  <p>Realtime mission: [Start:2015], [Expression:2016( <a href="https://www.youtube.com/watch?v=DOj5iCI8mRQ" target="_blank"> BoomFestival</a>, <a routerLink="/boom/cat" routerLinkActive="active">BoomFestival2016</a>, BoomFestivalShamanism(World Wide Shamanic Call))],
    [<a routerLink="/respect/spiritual/life" routerLinkActive="active">Respect Spiritual Life</a>: <a routerLink="/human/test/sent" routerLinkActive="active">Message</a> Sent]</p>
    <p><b>Spiritual Life</b> is no more than Life
      ( <a routerLink="/expression/nature" routerLinkActive="active">NATURE</a> ),
      which include all <a routerLink="/organic/fields/all/energy/all/soul" routerLinkActive="active">Organic fields</a>, which means <a routerLink="/absolute/everything/and/everyone" routerLinkActive="active">Everything and Everyone</a>!!! </p>
</div>
</div>
