<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/noise/frequency/impulse" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1760948471/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by Odicforcesounds</a></iframe>
</div>
<div>
    <h5>Failure - People Don't Care</h5>
    <h6>This Track is Free to Download</h6>
    <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
    <br>
      <i>No Comments</i>
</div>
</div>
