<div>
    <button style="background-color:black;color:aqua;border:none">
        <a routerLink="/tao" routerLinkActive="active">Back to Tao</a>
      </button>
<table>
  <tr align="center">
    <td>
        <img src="/assets/images/firering.jpg" width="500px" height="500px" alt="ring-of-fire">        
    </td>
    <td>
      <iframe width="200%" height="100" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FOdicforceSounds%2Faccept-our-gift-ring-of-fire-yang%2F" frameborder="0" ></iframe>
    </td>
  </tr>
</table>
</div>