<head>
  <title>
    Fuck Politic - Sex is Fun VS Fuck Sex - Politic is Fun by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
  <a routerLink="/noise/frequency/impulse" routerLinkActive="active">Impulse</a>
</button>
<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3528818943/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by Odicforcesounds</a></iframe>
<br>

    <h5>Fuck Politic - Sex is Fun VS Fuck Sex - Politic is Fun</h5>
  <h6>This Track is Free to Download</h6>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <br>
  <p>Here is an expression of how most of us are in society!</p>
  <p>Somehow we enjoy to dedicate our time to each choice.</p>
  <p>We always try to care the Community Needs, while many other moments we care to enjoy our personal needs</p>
  <br>
</div>

