<div class="title">
    <h3>First Steps into World Cleaner</h3>
  </div>
  
  <table>
    <thead>
      <tr>
        <td class style="text-align:center">Sometimes we only need to wish, deeply!</td>
        <td class style="text-align:center">Musical Expression</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            As You may know, even if You have all those Billions of Billions of any Coin, People and Animals still Die by the result of internal Wills, or should I talk about Nature it self, that is full of Plastic, Radiation of many kinds of Billions of "craps", Human History produced against it self, and by the name of Progress? Now we have technology, to help Us to simplify many other things that this day's are Real!!!
        </td>
        <td>
            <a routerLink="/will" routerLinkActive="active">
            <p class style="text-align:center"> The Possession of Will</p>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div>
      <button class="button">
          <p><a routerLink="/wiki">Click Here to Go back to Wiki Main Page</a></p>
        </button>
  </div>
  
  
