<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/tao" routerLinkActive="active">Back to Album Tao</a>
</button>
<div class="container">
    <h5>We Must Change Our Ways</h5>
    <div class="row">
    <div class="col-sm-6">
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FOdicforceSounds%2Fwe-must-change-our-ways%2F" frameborder="0" ></iframe>
    </div>
    <div class="col-sm-4">
    <h3>She Want - He Create</h3>
    <h6>Severn Cullis Suzuki Public Speech Tribute</h6>
    <p>And all related <span style="color:aquamarine">Expressions</span> related to <span style="color:lightgoldenrodyellow">Odicforcesounds</span></p>
      </div>
    </div>
</div>