<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/tao" routerLinkActive="active">Back to Album Tao</a>
</button>
<div class="container">
    <h5>We Must Change Our Ways</h5>
    <div class="row">
      <div class="col-sm-6">
          <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2782483764/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>        
      </div>
          <div class="col-sm-4">
          <p>She Want - He Create</p>
      </div>
    </div>
</div>

