<div>
<h6>You are Included in This World Wide Target Eternal License</h6>
<p class="text-danger">If You Deny [<a routerLink="/wiki" routerActiveLink="active">my Gifts</a>], all Your Good deeds in your different Births shall be mine, and all the Bad deeds done by me shall be Yours.</p>
<p class="text-danger">If on the contrary, you properly maintain the Endowment, the Merit shall belong to You alone!!!</p>
<p><span style="color:yellow">This License target all Brands of the world! Individual or groups who represents a <b>LOGO</b>!!!</span></p>
<p><span style="color:greenyellow">If You don't represent one or more <b>Brands</b>, </span> <span style="color:aquamarine">are Not included in this License!!!</span></p>
<p><span style="color:lightgreen">If You don't Contribute to this Project that aims to Care <b>Nature</b> and All living beings,</span> <span style="color:darkorange">You are included in this License!!!</span></p>
<p class="text-warning">If You use the same <span style="color:gray">Technique</span> to motivate <span style="color:red">Violent</span> Actions against someone or <span style="color:lightgreen">Nature</span> it self, You are included in this License!!!</p>
<p class="text-warning">If You Simulate any Action just to earn Points in a fast way, You are included in this License!!!</p>
<p class="text-warning">If You Sell or Buy "Points" for Money or other related Values without being part of any Action, You are included in this License!!!</p>
<p class="text-warning">If You <span style="color:red">Kill</span> any <span style="color:azure">Animal</span> just for Money or <span style="color:aqua">Fun</span>, You are included in this License!!!</p>
<p class="text-warning">If You use <span style="color:red">Guns</span> or <span style="color:red">Bombs</span> to show <a routerLink="/id/666" RouterLinkActive="active">Power</a>, You are included in this License!!!</p>
<p class="text-warning">If You <span style="color:red">kill</span> any <span style="color:aliceblue">Human</span> being, You are included in this License!!!</p>
<p class="text-warning">If You <span style="color:red">Hit</span> someone because he/she make You Feel <a routerLink="/not/bad/wrong" routerLinkActive="active">Bad</a>, You are included in this License!!!</p>
<p class="text-warning">If You <span style="color:red">Hit</span> someone because You are Out of <a routerLink="/control/free/to/ask" routerLinkActive="active">Control</a>, You are included in this License!!!</p>
<p class="text-warning">If You <span style="color:red">Hit</span> someone or use other method to Impose Your <a routerLink="/possession/of/will" routerLinkActive="active">Will</a>, You are included in this License!!!</p>
</div>