<head>
  <title>
    OdicforceSounds Eternal License
  </title>
</head>
<div id="banner">
    <div id="main">
    <h1><span style="background-color:black">You are Included in This World Wide Target Eternal License</span></h1><b></b>

    <iframe width="45%" height="90" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Four-eternal-license%2F" frameborder="0" ></iframe>
    </div>
    <div id="text-box">
    <p><span style="background-color:black;color:red">If You Deny to contribute for [<a routerLink="/wiki" routerActiveLink="active">World Cleaner</a>] Challenge, All Your Good deeds in your different Births shall be mine,<br> and all the Bad deeds done by me shall be Yours.</span>
    <span style="background-color:black;color:red"><br>If on the contrary, you properly maintain the Endowment, the Merit shall belong to You alone!!!</span></p><br>
    <p><span style="color:yellow;background-color:black">This License target all Brands of the world! Individual or groups who represents a <b>LOGO</b>!!!</span></p><br>
    <p><span style="color:greenyellow;background-color:black">If You don't represent one or more <b>Brands</b>, <span style="color:aquamarine">are Not included in this License!!!</span></span></p><br>
    <p><span style="color:lightgreen;background-color:black">If You don't Contribute to this Project that aims to Care <b>Nature</b> and All living beings, <span style="color:darkorange">You are included in this License!!!</span></span></p><br>
    <p><span style="background-color:black;color:orange">If You use the same <span style="color:gray"><a routerLink="/just/a/technical/skill/set" routerLinkActive="active">Technique</a></span> to motivate <span style="color:red">Violent</span> Actions against someone or <span style="color:lightgreen">Nature</span> it self, You are included in this License!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Kill</span> any <span style="color:azure">Animal</span> just for <a routerLink="/money/is/no/power" routerLinkActive="active">Money</a> or <span style="color:aqua">Fun</span>, You are included in this License!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You use <span style="color:red">Guns</span> or <span style="color:red">Bombs</span> to show <a routerLink="/id/666" RouterLinkActive="active">Power</a>, You are included in this License!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">kill</span> any <span style="color:aliceblue">Human</span> being, You are included in this License!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Hit</span> someone because he/she make You Feel <a routerLink="/not/bad/wrong" routerLinkActive="active">Bad</a>, You are included in this License!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Hit</span> someone because You are Out of <a routerLink="/control/free/to/ask" routerLinkActive="active">Control</a>, You are included in this License!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Hit</span> someone or use other method to Impose Your <a routerLink="/lords/egocentric/will" routerLinkActive="active">Will</a>, You are included in this License!!!</span></p><br>
    </div><br><br><br>
</div>

