<div>
<h4>OdicforceSounds Eternal License</h4>
<h6>You are Included in This World Wide Target Eternal License</h6>
<p class="text-danger">If You Deny [<a href="https://goo.gl/U4EShb">my Gifts</a>], all Your Good deeds in your different Births shall be mine, and all the Bad deeds done by me shall be Yours.</p>
<p class="text-danger">If on the contrary, you properly maintain the Endowment, the Merit shall belong to You alone!!!</p>
<p><span style="color:yellow">This License target all Brands of the world! Individual or groups who represents a <b>LOGO</b>!!!</span></p>
<p><span style="color:green">If You don't represent one or more <b>Brands</b>, you are Not included in this License!!!</span></p>
<p class="text-warning">if You use the same technique to motivate violent actions against someone or nature it self, You are included in this License!!!</p>
<p class="text-warning">if You simulate any action just to earn points in a fast way, You are included in this License!!!</p>
<p class="text-warning">If You sell or buy points for Money or other related values without being part of any action, You are included in this License!!!</p>
<p class="text-warning">If ou kill any Animal just for Money or Fun, You are included in this License!!!</p>
<p class="text-warning">If You use Guns or Bombs to show <a href="https://odicforcesounds.bandcamp.com/track/id-666">Power</a>, You are included in this License!!!</p>
<p class="text-warning">If You kill any Human being, You are included in this License!!!</p>
<p class="text-warning">If You Hit someone because he/she make You Feel bad, You are included in this License!!!</p>
<p class="text-warning">If You Hit someone because You are Out of <a href="https://odicforcesounds.bandcamp.com/track/control-free-to-ask">Control</a>, You are included in this License!!!</p>
<p class="text-warning">If You Hit someone or use other method to Impose Your <a href="https://odicforcesounds.bandcamp.com/track/lords-egocentric-will">Will</a>, You are included in this License!!!</p>
</div>