<section class="columns">

        <div class="column">
            <h2>Company Members</h2>
            <p>
                Administration and other workers that are representative of the company,
                 shall be the owners of actions. For each point each single employee gain, the company gain 1 point as well.
                All the team must be team to inside but to the outside too! The more we care the more people will care us.

        </div>

        <div class="column">
            <h2>Communication</h2>
            <p>
                Communitation companies shall care to pay attention.
                Some challanges to offer phones, not only to gain new clients but
                to contribute to this world wide challenge! When I say offer I mean for Free!

            </p>
        </div>
    </section>
