<head>
  <title>
    Dominated by Time - Ruled By Desire by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

    <div class="row">
      <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3481000380/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
      </div>
        <div class="col-sm-4">
          <h5>Dominated By Time - Ruled By Desire</h5>
          <h3>Not Free</h3>
          <h5>But Feel Free to Listen</h5>
          <br>
          <p>As simple as that. Most people don't pay attention to what others say!</p>
          <p>That is what I feel in my journey, while my own life is running out of <a routerLink="/running/out/of/time/no/turning/back" routerLinkActive="active">time</a>. </p>
          <p>I don't always like to give solutions to others, as my will is only to motivate your choice!</p>
      </div>
    </div>
</div>

