<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/machine/world" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

    <div class="row">
      <div class="col-sm-6">
          <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=2404571643/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
      </div>
      <div class="col-sm-4">
            <h4>Control - Free to Ask</h4>
          <h3>Free Download</h3><br>
          <p>Feel Free to add ( +0€ ) or give a contribution!</p>
          <h5>But Feel Free to Listen</h5>
          <h3>
            Any Question?
          </h3>
          <p>
            Yes! <p> We normally do!</p> <p> And that is the Key to find the Path!  Make questions !
          </p>
      </div>
    </div>
</div>

