<head>
  <title>
    Light Interception - Sensitive and Obscure by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/eternal/delay" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
<div class="col-sm-6">
        <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841494618/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3933318484/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/eternal-delay">Eternal Delay by Odicforcesounds</a></iframe>
</div>
<div>
        <h5>Light Interception - Sensitive And Obscure</h5>
    <h6>Not Free</h6>
    <br>
    <i>read more</i> soon
</div>
</div>
