<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/machine/world" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=1536301792/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
</div>
<div>
        <h5>Noise Breaker - Lead The Way</h5>
    <h6>Not Free</h6>
    <br>
    <p>Did You hear some noise?</p>
    <p>It was me, so you can hear me, so you can find me, so you don't get lost!</p>
</div>
</div>
