<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/machine/world" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">


<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2866866756/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
</div>
<div><h5>Time To Live - Cache Cleaner</h5>
    <h6>Not Free</h6>
    <br>
    <p>In a world where everyone give attention to what everyone else do or did, there are many knowledge that is not needed! </p>
</div>
</div>
