<head>
  <title>We Came In Peace - Trance Zone by Odicforcesounds</title>
  
  <meta name='description' content='We Came In Peace - Trance Zone by Odicforcesounds'>
  <meta name="keywords" content="SunWukong, Portugal, Realtime, Mission, Shamanic, Peace, OdicforceSounds, BoomFestival, edm">
  <meta name='target' content='all'>
  <meta name='DC.title' content='We Came In Peace - Trance Zone by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="main">
    <p>Facebook Concept Proof for Artist Promotion made by Boom Festival</p>
    <p>In the Year 2016 - World Wide Shamanic Call</p><br>
    <img width="300px" src="../../../../../../../assets/images/boomfestival.jpg" alt="Boom Festival">
    <br><br>
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3378595947/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
  <br>
    <br>
    <p> <a href="https://www.boomfestival.org" target="_blank">Boom Festival</a> -
      World Wide Target ( <a href="https://en.wikipedia.org/wiki/Portugal" target="_blank">Portugal</a> )</p>
    <p><a routerLink="/sun/wukong/the/monkey/king" routerLinkActive="active">Sun Wukong</a> - The Monkey King</p>
    <br>
    <div id="textarea">
      
    </div>
</div>

