<head><title>
  We Came In Peace - Trance Zone by Odicforcesounds
</title></head>

<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="flex-container">
    <div class="row">
      <div class="flex-item">
          <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3378595947/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>      </div>
          <h5>We Came in Peace - Trance Zone</h5>
          <br>
          <p>Boom Festival - World Wide Target ( Portugal )</p>
          <p>Hanuman / Sun Wukong - The Monkey King</p>
        </div>
    </div>

