<head>
  <title>
    You Don't Believe In What You Say by Odicforcesounds
  </title>
  <meta name='description' content='You Dont Believe In What You Say by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, believe">
  <meta name='DC.title' content='You Dont Believe In What You Say by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841494618/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1798718282/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/eternal-delay">Eternal Delay by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
        <br>
        <p>I am not sure if if Your care, but I am sure is not Mine!</p>
        <br>
        <button class="button" style="background-color:black;color:blue;font-size:12px;border:none">
                <p><a routerLink="/eternal/delay" routerLinkActive="active">Back to Eternal Delay</a> </p>
            </button><br>
    </div><br><br><br><br><br>
