<head>
  <title>
    Bass Drop - Blend by Odicforcesounds
  </title>

  <meta name='description' content='Bass Drop - Blend by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, bass, drop, blend">
  <meta name='DC.title' content='Bass Drop - Blend by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>


<div id="main">

    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=506469596/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
        <br>
        <button class="button" style="background-color:black;color:blue;font-size:12px;border:none">
            <p><a routerLink="/noise/frequency/impulse" routerLinkActive="active">Back to Noise Frequency</a> </p>
        </button><br>
        <br><br><br><br><br>
</div>
