body {
    background-color: #000000;
    color: #FFFFFF;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.menu li {float: left;}

/* Style the links inside the list items */
ul.menu li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.menu li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the menu on small screens */
ul.menu li.icon {display: none;}
