body {
    background-color: #000000;
    color: #FFFFFF;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

ul.menu li {float: center;}

ul.menu li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.menu li a:hover {background-color: #000;}

ul.menu li.icon {display: none;}
