<div class="title">
    <h3>World Cleaner Challenge</h3>
  </div>

  <table>
    <tbody>
      <tr>
        <td>
          <p>Participate in this Challenge, Or by Playing, Or by Developing, Or Both! Helping caring <i>Nature, Animals and People</i>, is something that most people do by <b>Free Will of Choice</b>. Since this day's, people Kill for Money, as money is needed to <b>Survive</b>, this Challenge Will Give You "money" to <span style="color:aqua">Care</span>, Not to <span style="color:red">Destroy</span>! Caring is to give a chance to another living being beside our self's to become better, in any Level of it's own Vital condition to survive! You may think that are many organizations, public or private that already invest in this kind of problems, but hey, more than money to solve problems, we need actions!</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
      <button class="button">
          <p><a routerLink="/wiki">Click Here to Go back to Wiki Main Page</a></p>
        </button>
  </div>


