<div id="table">
<table>
    <tbody>
      <tr>
        <td>
          <p>Participate in this Challenge, Or by Playing, Or by Developing, Or Both!</p>
          <p>Helping to care <i>Nature, Animals and People</i>, is something that most people do by <b>Free Will of Choice</b>.</p>
          <p>Since this day's, people Kill for Money, as money is needed to <b>Survive</b>,</p>
          <p>this Challenge Will Give You "money" to <span style="color:aqua">Care</span>, Not to <span style="color:red">Destroy</span>!</p>
          <p>Caring is to give a chance to another living being beside our self's to become better,</p>
          <p>in any Level of it's own Vital condition to survive!</p>
          <p>You may think that many organizations, public or private that already invest in this kind of problems,</p>
          <p>but hey, more than money to solve problems, we need actions!</p>
          <p>and What I present to You give you money to solve problems, which is fair!</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
