<head>
  <meta name='description' content='Boo Boo - The Condition of Illusion by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>Boo Boo - The Condition of Illusion by OdicforceSounds</title>
</head>
<div id="player">
  <iframe  width="45%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/317288793&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>
