th {
    width: 100%;
    position: relative;
}
table {
    width: 100%;
    height: 100%;
    margin-top: -1.3%;
}
.row {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: -1.3%;
}

th2 {
    width: 100%;
    height: 100%;
    position: relative;
}