p {
    color: orange;
    font-size: 23px;
}

a {
    color:lightseagreen;
}
#box-text {
  text-align: center;
  align-content: center;
  font-size: 1.5em;
  line-height: 2;
}


#frame {
  text-align: center;
}

#image {
  text-align: center;
}

#banner {
    background: url("https://i00nsu.keybase.pub/odicforcesounds.com/images/monkeydragondance.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* Set up proportionate scaling */
    margin-top: 0;

    /* Set up positioning */
    position: relative;
  }


