#box-text {
  text-align: center;
  font-size: 1.5em;
  line-height: 2;
}

#frame {
  text-align: center;
}

#image {
  text-align: center;
}

#banner {
    background: url("https://i00nsu.keybase.pub/odicforcesounds.com/images/monkeydragondance.jpg") no-repeat center center fixed;
    background-size: auto;
    height: 100%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    margin-top: 0;

    /* Set up positioning */
    position: relative;
  }

  .container {
    width: 100%;
    min-width: 25%;
  }
