<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/tao" routerLinkActive="active">Back to Tao</a>
</button>
<div class="container">
    <h3>We Bring You Fire</h3>
    <h5>The Magic of Fantasy</h5>
    <div class="row">
      <div class="col-sm-6">
          <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/315576826&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
          </div>
          <div class="col-sm-4">
          <h3>Not for Sale</h3><br>
          <h5>But Feel Free to Listen</h5>
          <p>- Do You Believe in God?</p>
          <p>- I Believe in My Self. </p>
          <p><i>so true</i></p>
          <p>- But Wait, God Exist!</p>
          <p>- You Call it God and I Call it Tao</p>
      </div>
    </div>
</div>

