<div id="table">
    <table>
        <thead>
            <td>World Cleaner (Logic)</td>
        </thead>
        <tbody>
            <td>
                <p><b>Privacy</b> is critical in this challenge</p>
            </td>
            <tr>
                <td>
                    <p>Patterns need to be 80% Boolean 19% Static and 1% Dynamic</p>
                    <p><b>Boolean:</b> Everything is accepted(1) or denied(0)</p>
                    <p><b>Static:</b> Per step, per action, per function, if is True = +1 if not +0</p>
                    <p><b>Dynamic:</b> Only the value of 1 will be add in the end of each actions to the user profile path and profile categories</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>We only need an email (that needs to exist)</p>
                    <p>to accomplish registration process or to recover passwd</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Final Devices</b> Android, iOS, Windows, Oculus, etc... </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>User Device services</b>: Time, GPS, Internet, Video, Audio</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Build a Notification System</p>
                    <p>Build a Comment System to describe actions</p>
                    <p>Build Rating System</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
