<div id="banner">
<div class="container">
<div class="row">
<div class="col-sm-6">
    <iframe width="100%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/339578578&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>  
</div>
<br><br><br>

<p><span style="text-align:center">Portuguese Message to <a href="https://www.boomfestival.org/" target="_blank">Boom Festival</a></span><br><br><br><br><br><p><span style="color:aqua">Há Excepções que fazem parte da Casualidade, como da Temporalidade Vibracional da Percepção do Tempo que Cuida</span></p>
</div>
</div>
