<div class="title">
    <h3>Users Path in World Cleaner</h3>
  </div>
  
  <table>
    <thead>
      <tr>
        <td class style="text-align:center">Respect Others and Your illusions to Care, Will Open to You, New Path's, in this Eternal <b>Spiritual Experience</b> in Life Form</td>
        <td class style="text-align:center">Musical Expression</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>1: <b>The Nature Care Path:</b> <i>You Shall Care the Place You Live. You Shall Care Your own Life, indeed! How Much You Dare to don't Care? You Will not Regret, if You are Rare!</i></p>
          <p>2: <b>The Animal Care Path:</b> <i>We Are so they Are! We Can so they Can. We Live so they Live. The Rush of Dust is not only to receive pleasure, if is not Lost in Time!</i> </p>
          <p>3: <b>The Human Care Path:</b> <i>My Friends Come and Go, so we can Change. My Time with Your Time, result in Your Time for My Time. Only to accomplish moments of Time! </i> </p>
        </td>
        <td>
            <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841494618/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/track=2482522323/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/eternal-delay">Eternal Delay by Odicforcesounds</a></iframe>    </tbody>
  </table>
  
  <div>
      <button class="button">
          <p><a routerLink="/wiki">Click Here to Go back to Wiki Main Page</a></p>
        </button>
  </div>
  
  