<div id="table">
    <table>
    <thead>
      <tr>
        <td>Nr</td>
        <td>Name</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>Nature Care Path</p>
        </td>
        <td>
            <p>You Shall Care the Place You Live.</p>
            <p>You Shall Care Your own Life, indeed!</p>
            <p>How Much You Dare to don't Care? </p>
            <p>You Will not Regret, if You are Rare!</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>Animal Care Path</p>
        </td>
        <td>
            <p>We Are so they Are! We Can so they Can.</p>
            <p>We Live so they Live.</p>
            <p>The Rush of Dust is not only to receive pleasure</p>
            <p>if is not Lost in Time!</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>3</p>
        </td>
        <td>
            <p>Human Care Path</p>
        </td>
        <td>
            <p>My Friends Come and Go, so we can Change.</p>
            <p>My Time with Your Time, result in Your Time for My Time.</p>
            <p>Only to accomplish moments of Time!</p>
        </td>
    </tr>
  </table>
  <button class="button">
        <p><a routerLink="/wiki">Click Here to Go back to Wiki Main Page</a></p>
</button>
</div>
