<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/only/tributes" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1049034482/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
</div>
<div>
  <h5>Vital Manipulation - Become Mad</h5>
  <h6>This Track is Free to Download</h6><br>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <br>
    <p>Naturally, the obvious result of imposing Will's of Power, result in people getting mad.</p>
    <p>Those who wish to control more than them self's.... </p>
</div>
</div>
