<div id="banner">
<button style="background-color:black;color:aqua;border:none">
        <a routerLink="/visions/of/thor" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container"><br><br><br>
    <div class="row">
        <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3288121727/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by Odicforcesounds</a></iframe>
        </div>
        <div class="col-sm-4" style=width:550px>
        <h4>Not Free</h4>
        <h5><span style="background-color:black;color:rgb(255, 47, 47)">Black Birds - Red Eyes</span></h5>
        <p><span style="background-color:black;color:greenyellow">But Feel Free to Listen</span></p>
        <p><span style="background-color:black;color:greenyellow">Yin Yang is the Sun, and for each cycle of Tao, Tao is Expressed.</span></p>
        <p><span style="background-color:black;color:#ffee00">Yin Yang is Life and Death, is movement, is Light, is Colors, is Dreams, is Beliefs, is Hope, is Challenge, is Change, is Signals, is Divine, is Balance, is Future.
            Yin Yang fall into the Vibrational Zone (Ours) and Odin intercept that movement demanding Thor to send Light ( sending his Hammer )</span></p>
        <p><span style="background-color:black;color:rgb(0, 255, 157)">"Eternal Delay: <a routerLink="/light/interception/sensitive/and/obscure" routerLinkActive="active">Light Interception - Sensitive and Obscure</a>"</span></p>
        <p><span style="background-color:black;color:#00ff9d">While fallowing two different perspectives open in Space and Shiva wake up. To honor Shiva "Emotional Signals", Hanuman / Wukong was chosen to accomplish the mission and honor Yin Yang</span></p>
        <p><span style="background-color:black;color:greenyellow">"Shiva and Kali Dance: <a routerLink="/terms/of/living/love/or/die" routerLinkActive="active">Terms of Living - Love or Die</a>"</span></p>
        <p><span style="background-color:black;color:greenyellow"> Time and Space Dance together.</span></p>

    </div>
    </div><br><br><br>
</div>
</div>