<div class="text-box">

<h3>You Shall Accept <span style="color:red">Odin</span> Gift! ( World Cleaner )</h3>
</div>
<br>
<!--
<div id="main">
    <div>
      <a routerLink="/wiki/intro" routerLinkActive="active">Introduction</a>
    </div>
    <div>
        <a routerLink="/wiki/firststeps" routerLinkActive="active">First Steps</a>
    </div>
    <div>
        <a routerLink="/wiki/coreconcepts" routerLinkActive="active">Core Concepts</a>
    </div>
    <div>
        <a routerLink="/wiki/idea" routerLinkActive="active">Idea</a>
    </div>
</div>
<div id="main">
    <div>
        <a routerLink="/wiki/challenge" routerLinkActive="active">Challenge</a>
    </div>
    <div>
      <a routerLink="/wiki/path" routerLinkActive="active">Path's</a>
    </div>
    <div>
        Privacy
    </div>
    <div>
        Rules
    </div>
</div> 
<div id="main">
    <div id="text">
            <span style="color:yellow">Start</span>
    </div>
    <div id="text">
        <span style="color:yellow"> & Help</span>
    </div>
    <div id="text">
      <span style="color:yellow">User</span>
    </div>
    <div id="text">
        <span style="color:yellow">Needs</span>
      </div>
</div> -->

<div id="image">
    <img src="./assets/images/wiki.png" width="50%" height="300" alt="">
</div>
<br>
<div id="text-box">

</div>