<div id="banner">
<br><br>
<div class="text-box"><br>
You Shall Accept <a routerLink="/light/interception/sensitive/and/obscure" routerLinkActive="active"><span style="color:red">Odin</span></a> Gift!
</div>
<br>
<br>
<div id="main"><br>
    <div id="text">
            <span style="color:rgb(0, 255, 242)">Start</span>
    </div>
    <div id="text">
        <span style="color:rgb(255, 251, 0)"> & Help</span>
    </div>
    <div id="text">
      <span style="color:rgb(81, 255, 0)">User</span>
    </div>
    <div id="text">
        <span style="color:rgb(255, 153, 0)">Needs</span>
      </div>
</div><br><br>
<div id="main">
    <div>
      <a routerLink="/wiki/intro" routerLinkActive="active">Introduction</a>
    </div>
    <div>
        <a routerLink="/wiki/firststeps" routerLinkActive="active">First Steps</a>
    </div>
    <div>
        <a routerLink="/wiki/coreconcepts" routerLinkActive="active">Core Concepts</a>
    </div>
    <div>
        <a routerLink="/wiki/idea" routerLinkActive="active">Idea</a>
    </div>
</div><br><br>
<div id="main"><br>
    <div>
        <a routerLink="/wiki/challenge" routerLinkActive="active">Challenge</a>
    </div>
    <div>
      <a routerLink="/wiki/path" routerLinkActive="active">Path's</a>
    </div>
    <div>
        Privacy
    </div>
    <div>
        Rules
    </div>
</div><br><br>
<div id="main"><br>
    <div>
        Governments
    </div>
    <div>
      Business
    </div>
    <div>
        Companies
    </div>
    <div>
            <a routerLink="/wiki/developers" routerLinkActive="active">Developers</a>
    </div>
</div><br><br>
<div id="main"><br>
    <div>
        Communities
    </div>
    <div>
      Charity
    </div>
    <div>
        Forums
    </div>
    <div>
          social media
    </div>
</div>

</div>
