<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/visions/of/thor" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
    <div class="row"><br>
        <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2187247075/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by Odicforcesounds</a></iframe>
        </div>
        <div class="col-sm-6"><br>
            <h4>Ma6nata - EVIL INSIDE</h4>
            <h6>This Track is Not Free</h6>
            <p>We are all warriors taking a journey against our own limits. </p>
            <p>Dark Warriors produce Light and Light Warriors produce Dark. </p>
            <p>It is inevitable! "Black Gold - Light" ( Yang )</p>
            <p>Tao Touch: Monkey of Metal 1980 </p>
            <p>Oscar Meaning: "Friend" ^ - ^ in Japan Means: Dragon </p>
            <p>Forniés Meaning: "Those who Work in the Coven" </p>
            <p>Macedo Meaning: "Door"</p>
            <br>
            <iframe width="60%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Fprince-of-darkness%2F" frameborder="0" ></iframe>
        </div>
    </div>
</div>

