<head>
  <title>
    V - Euclidean Space by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/only/tributes" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=50155109/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
</div>
<div>
  <h5>
      V - Euclidean Space</h5>
  <h6>Not Free</h6>
  <br>
  <p>World wide Target</p>
  <p> <a href="https://en.wikipedia.org/wiki/V_for_Vendetta_(film)" target="_blank">V for Vendetta</a> Tribute! </p>
</div>
</div>
