<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/noise/frequency/impulse" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
    <h4>Not Bad - Wrong</h4>
    <div class="row">
      <div class="col-sm-6">
          <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=3473852049/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by Odicforcesounds</a></iframe>      </div>
        <div class="col-sm-4">
          <h3>Free Download</h3><br>
          <p>Feel Free to add ( +0€ ) or give a contribution!</p>
          <h5>But Feel Free to Listen</h5>
          <p>
            We all Test Reality, many things will be made wrongly, because of the "debug" answers, which is about 
            the reaction of others in form of behaviors through choices. Many choices are part of the process of learning 
            how to hack. Because that is the only and <b>Holy</b> way of the Path! 
          </p>
      </div>
    </div>
</div>

