<button style="background-color:black;color:aqua;border:none">
        <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
    </button>
    <div class="container">
        <h5>Little Box</h5>
        <div class="row">
          <div class="col-sm-6">
                <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2782483764/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
          </div>
            <div class="col-sm-4">
              <h3>Not Free</h3><br>
              <h5>But Feel Free to Listen</h5>
              <br>
              <i>read more</i> soon
          </div>
        </div>
    </div>
    
    