<head>
  <title>
    Little Box - Universe
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
        <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
    </button>
    <div class="container">

        <div class="row">
          <div class="col-sm-6">
                <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2782483764/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
          </div>
            <div class="col-sm-4">
              <h5>Little Box - Universe</h5>

              <br>
              <p>100% Tribute to this <a href="https://www.youtube.com/watch?v=eOJVcYHIkZM"> young</a> fellow</p>
          </div>
        </div>
    </div>

