<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/visions/of/thor" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
                <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2160061054/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by Odicforcesounds</a></iframe>
        </div>
        <div class="col-sm-4">
            <h4>We are the Ones</h4>
            <h6>This Track is Free</h6>
        </div>
    </div>
</div>  