<div class="text-box">
<h3>World Wide Conscience Cleaner</h3>
<h5>You Shall Accept <span style="color:red">Odin</span> Gift! ( World Cleaner )</h5>
</div>
<br><br>
<!--
<div id="main">
    <div>
      <a routerLink="/wiki/intro" routerLinkActive="active">Introduction</a>
    </div>
    <div>
        <a routerLink="/wiki/firststeps" routerLinkActive="active">First Steps</a>
    </div>
    <div>
        <a routerLink="/wiki/coreconcepts" routerLinkActive="active">Core Concepts</a>
    </div>
    <div>
        <a routerLink="/wiki/idea" routerLinkActive="active">Idea</a>
    </div>
</div>
<div id="main">
    <div>
        <a routerLink="/wiki/challenge" routerLinkActive="active">Challenge</a>
    </div>
    <div>
      <a routerLink="/wiki/path" routerLinkActive="active">Path's</a>
    </div>
    <div>
        Privacy
    </div>
    <div>
        Rules
    </div>
</div> -->
<div id="main">
    <div>
            <span style="color:yellow">Start</span>
    </div>
    <div>
        <span style="color:yellow"> & Help</span>
    </div>
    <div>
      <span style="color:yellow">User</span>
    </div>
    <div>
        <span style="color:yellow">Needs</span>
      </div>
</div>
<div id="main">
    <div>
      Companies
    </div>
    <div>
      Business
    </div>
    <div>
      Developers
    </div>
    <div>
        Developers
      </div>
</div>
<div id="main">
    <div>
        Politcs
      </div>
      <div>
          Charity
      </div>
    <div>
      Communities
    </div>
    <div>
      Governments
    </div>
</div>
<div id="main">
    <div>
      Social Media
    </div>
    <div>
      Contacts
    </div>
    <div>
      Forum
    </div>
    <div>
      Contact me
    </div>
</div>

