<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/space/trip" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
    <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3208777115/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
    </div>
    <div>
        <h5>Brave New Choice - No Heroes</h5>
        <p>This Track is Not Free to Download</p>
        <p>Any expression can be Verbal or Concrete.</p>
        <p>Concrete expressions create pain, Verbal expressions create Love.</p>
        <p>Verbal expressions are not from Heroes...</p>
    </div>
</div>
