<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/space/trip" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
<h4>Brave New Choice - No Heroes</h4>
<div class="row">
    <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=1340510858/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
    </div>      
    <div>
        <h6>This Track is Not Free to Download</h6><br>
        <i>read more</i> soon
        </div>
    </div>
</div>