<head>
  <title>
    Data - Objects and Functions by OdicforceSounds
  </title>
  <meta name='description' content='Data - Objects and Functions by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Data - Objects and Functions by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="player">
        <iframe width="40%" height="60" src="https://www.mixcloud.com/widget/iframe/?feed=%2FOdicforceSounds%2Fdata-objects-functions%2F" frameborder="0" ></iframe>
</div>
