<head>
  <title>
    Do Not Deny - I am The One by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
    <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">Dance</a>
</button>
<div id="main">
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3907902127/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
<br>
  <h5>Do Not Deny - I Am The One</h5>
  <p>Well, maybe I am the one who open the opportunities to many others being the One as well!</p><br><br>
</div>
