<head>
  <title>
    Oscar FM - Concept Proof of Spiritual Compatibility by OdicforceSounds
  </title>
  <meta name='description' content='Oscar FM - Concept Proof of Spiritual Compatibility by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Oscar FM - Concept Proof of Spiritual Compatibility by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="banner">

          <br>
          <div id="text-box">
              <p><span style="color:aqua">Feel Free to Read Your Own<a href="https://www.mybodygraph.com" target="_blank" > Body Graph</a></span></p>
          <h2><a routerLink="/mystic/portal/" routerLinkActive="active">Mystic Portal - We Are One</a></h2>
          <div id="image">
            <img src="https://i00nsu.keybase.pub/odicforcesounds.com/images/oscarfm.jpg" width="300px" height="350" alt="">
          </div>
          <p>Name: <span>Óscar Forniés Macedo</span> </p><br>
          <p>Oscar Ocidental Meaning: <span>(friend)</span>  </p><br>
          <p>Óscar Oriental Meaning: <span>(<a routerLink="/galactic/passion/dragon/fire" routerLinkActive="active">Dragon</a>)</span> </p><br>
          <p>Forniés Meaning: <span>(Those who work in the Coven)</span> </p><br>
          <p>Macedo Meaning: <span>(Above the  <a routerLink="/just/another/open/door" routerLinkActive="active">Door</a>)</span> </p><br>
          <p>Location: <span> <a href="https://en.wikipedia.org/wiki/Porto"></a> Porto - Portugal</span> </p><br>
          <p>Born Date:<span> 20 / 05 / 1980</span> </p><br>
          <p>Ocidental Sign: <span><a routerLink="/noise/frequency/impulse" routerLinkActive="active">Tauros</a></span> </p><br>
          <p>Oriental Sign: <span><a routerLink="/sun/wukong/the/monkey/king" routerLinkActive="active"> Monkey</a></span> </p><br>
          <p>Nature Element: <span><a routerLink="/you/are/the/wood/i/am/the/fire" routerLinkActive="active">Metal</a></span> </p><br>
          <p>kiu:<span> <a routerLink="/yellow/energy/burning/box" routerLinkActive="active">Yellow Crystal</a> Human</span> </p><br>
          <p>And this is my "Mystic Compatibility", <br><br>not only in <a routerLink="/data/objects/and/functions" routerLinkActive="active">data</a>, but in meaning. <br><br> Life is a <a routerLink="/my/dream/boom/festival" routerLinkActive="active">Dream</a>,
            based on <a routerLink="/myth/illusions/memories" routerLinkActive="active">illusions</a>, then we dream.<br><br>
            Dreaming take time, <br><br> as a dream needs an "<a routerLink="/wiki" routerLinkActive="active">objective</a>",<br><br> and the right <a routerLink="/possession/of/will" routerLinkActive="active">Will</a> to Possess the Dream.
          </p>
          <iframe width="80%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Fmystic-compatibility%2F" frameborder="0" ></iframe>
      </div>
  </div>
