<head>
  <title>
    Terms of Living - Love or Die by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
<div class="row">
<div class="col-sm-6">
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=633430615/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
</div>
<div>
<h5>Terms Of Living - Love or Die</h5>
  <h6>Not Free</h6>
  <br>
  <p>And We Shall Love forever and Ever, for Eternity, Love Shall Rule!</p>
  <p>What Life is, if not an expression of Love?</p>
  <iframe width="40%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Flets-talk-about-love%2F" frameborder="0" ></iframe>
</div>
</div>
