<head>
  <title>
    Wait - Madness is no Good by Odicforcesounds
  </title>
  <meta name='description' content='Wait - Madness is no Good by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, madness, good">
  <meta name='DC.title' content='Wait - Madness is no Good by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841494618/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=4066885199/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/eternal-delay">Eternal Delay by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
        <h6>This Track is Free to Download</h6>
        <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
        <br>
        <p>Sometimes we think we are loosing control.</p>
        <p>Maybe we are asking to possess... </p>
        <p>May we care time to give us the illusion of possession...</p>
        <p>We only possess Will.</p>
        <p>And Time have the Will to share moments of possession....</p>
        <br>
    </div>

