<head>
  <title>
    Care Not - Focus by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
    <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">Dance</a>
</button>
<div id="main">

  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1381122651/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
<br>
  <h5>Care Not - Focus</h5>
  <h6>This Track is Free to Download</h6>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <br>
  <p>This is an important note. Sometimes we must take care time to care things in time.</p>
  <p>Precisions of time in choice, as choice don't possess time.</p>
</div>
