<div class="container">
    <h4>Only Tributes</h4>
    <div class="row">
      <div class="col-sm-6">
          <iframe style="border: 0; width: 140%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
        </div>
      <div class="col-sm-8">
        <br><br><br><div class="text-box">
        <b>Only Tributes</b> to remind you what Cats and Dogs 
        <a routerLink="/cats/like/to/dance/dogs/like/to/watch" routerLinkActive="active">like to do</a>,
         the advice’s of <a routerLink="/lords/egocentric/will" routerLinkActive="active">Bruce Lee</a>, don’t forget the
        <a routerLink="/galactic/passion/dragon/fire" routerLinkActive="active">Dragon Fire</a>, because in this unlimited 
        <a routerLink="/matrix/no/limits" routerLinkActive="active">Matrix</a>, there are many 
        <a routerLink="/lords/egocentric/will" routerLinkActive="active">Egocentric Wills</a>, that 
        <a routerLink="/vital/manipulation/become/mad" routerLinkActive="active">manipulate</a> others madly, in a sort of 
        <a routerLink="/parallel/wish/the/mirror" routerLinkActive="active">mirror</a>, with two 
        <a routerLink="/two/sides/one/force" routerLinkActive="active">faces</a>.
      </div>
      </div>
    <div class="col-sm-4">
        <br><br>
        <h5>Buy this album only for 3€</h5>
        <br>
        <h6>Most tracks are "free" to Download</h6><br>
        <h6>For those tracks, You may wish to "hack" Bandcamp System</h6><br>
        <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
    </div>
  </div>
