<div class="container">
    <div class="row">
      <div class="col-sm-8">
      <div class="text-box">
        <b>Only Tributes</b> to remind you what Cats and Dogs
        <a routerLink="/cats/like/to/dance/dogs/like/to/watch" routerLinkActive="active">like to do</a>,
         the advice’s of <a routerLink="/lords/egocentric/will" routerLinkActive="active">Bruce Lee</a>, don’t forget the
        <a routerLink="/galactic/passion/dragon/fire" routerLinkActive="active">Dragon Fire</a>, because in this unlimited
        <a routerLink="/matrix/no/limits" routerLinkActive="active">Matrix</a>, there are many
        <a routerLink="/lords/egocentric/will" routerLinkActive="active">Egocentric Wills</a>, that
        <a routerLink="/vital/manipulation/become/mad" routerLinkActive="active">manipulate</a> others madly, in a sort of
        <a routerLink="/parallel/wish/the/mirror" routerLinkActive="active">mirror</a>, with two
        <a routerLink="/two/sides/one/force" routerLinkActive="active">faces</a>.
      </div>
      </div>
      <div class="text-box">
          <h6>Buy this album only for 3€</h6>
          <p>Most tracks are "free" to Download</p>
          <p>Feel Free to add ( +0€ ) or give a contribution!</p>
      </div>
  </div>
