<head>
  <title>
    Social Tool Kit - World Wide Conscience Cleaner by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

    <div class="row">
      <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=879330028/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
      </div>
        <div class="col-sm-4">
          <h5>Social Tool Kit - World Wide Conscience Cleaner</h5>
          <br>

      </div>
    </div>
</div>

