​<div id="footer">
<div id="footerContainer">
    <div id="imginthefooter"></div>
        <div id="contentinimg">
        <p>You may Wish to see more about OdicforceSounds through:
            <a href="https://github.com/OdicforceSounds" target="_blank">Github</a> -
            <a href="https://www.facebook.com/odicforcesounds/" target="_blank">Facebook</a> -
            <a href="https://twitter.com/OdicforceSounds" target="_blank">Twitter</a> -
            <a href="https://rakzhodekams.tumblr.com​​​​​​​​​" target="_blank">Tumblr</a> -
            <a href="https://www.youtube.com/channel/UCz214ZIahPCbPQWcJPp574w" target="_blank">Youtube</a> -
            <a href="https://www.instagram.com/odicforcesounds/" target="_blank">Instagram</a>
        </p>
    </div>
    </div>
</div>
