​<div id="footer">
<div id="footerContainer">
    <div id="imginthefooter"></div>
        <div id="contentinimg">
        <p>You may Wish to see more about OdicforceSounds through:
            <a href="https://www.facebook.com/odicforcesounds/" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                Facebook</a> -
            <a href="https://twitter.com/OdicforceSounds" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter</a> -
            <a href="https://rakzhodekams.tumblr.com​​​​​​​​​" target="_blank">
                <i class="fa fa-tumblr" aria-hidden="true"></i>
                Tumblr</a> -
            <a href="https://www.youtube.com/channel/UCz214ZIahPCbPQWcJPp574w" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                Youtube</a> -
            <a href="https://www.instagram.com/odicforcesounds/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                Instagram</a>
        </p>
    </div>
    </div>
</div>
