<head>
  <title>
    ID - 666 by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
    <a routerLink="/space/trip" routerLinkActive="active">Trip</a>
</button>
<div id="main">

        <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=1811079788/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
<br>
        <h4>ID - 666</h4>
        <div id="text-box">

        <p>Lets think that more than 70% of the world is Theist.
            If you read the bible, you can read about "Those who drink from the science tree, become equal to me"
            - We are not gods, and the universe is not inspiring you, for your divine will. Yin can only have one Yang, carefully cared.
            Where is Yang, Yin is <a routerLink="/fragments/you/need/forgotten/past" routerLinkActive="active">forgotten</a>. I wish you good luck to not take that vanish timing.</p>
            <p><b>Hanuman Words</b>"I am the Guardian of the Two Worlds and You are included in my Eternal License!"</p>
            <br>
          </div>
</div>
