<head>
  <title>
    Dogs Like to Dance - Cats Like to Watch by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
  <a routerLink="/only/tributes" routerLinkActive="active">Tributes</a>
</button>
<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=400605892/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
  <br>
  <h5>Dogs Like to Dance - Cats Like to Watch</h5>
  <h6>This Track is Free to Download</h6>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <br>
  <div id="text-box">
  <p>Each human ( male or female ) have the same style in the "root" of their way of being the self.
    There are many who love to dance ( in many levels of interpretation of getting pleasure on what they like to do ),
    and many others Love to watch, talk to their friends about it and see what happen.
    Probably a good moment to create instability. Well, but because we are in a logic world,
    we all pass through both experiences, in time...Sometimes we are cats, and other times we are dogs.
    Maybe we cannot escape from being one or another, but at least we know why people love so much ( Cats and Dogs ) </p>
  </div>
</div>
