<head>
  <title>
    Who We Are by OdicforceSounds
  </title>
  <meta name='description' content='Who We Are by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Who We Are by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="banner">
    <div class="text-box">
    <span style="color:yellow"><br><br>
    <p>As Water can Wet or Knock,</p><br>
    <p>As the Wind brings the Whisperings of Thunder Screams,</p><br>
    <p>As Fire, Life and Death.</p></span><br>
    <p>Read more <a routerLink="/about/me/and/you" routerLinkActive="active">Here</a></p><br>
    </div>
    <p style="display:block;text-align:center;margin-top:1%;">
        <iframe  width="40%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Fwe-are-here-for-change%2F" frameborder="0" ></iframe>
    </p>
</div>
