div {
    margin-top: 5%;
    text-align: center;
    font-size: 190%;
}

#banner {
    background: url("/assets/images/pd.jpg") no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -5%;
    margin-bottom: -12%;
    padding: 0;
    color: white;
  }