<div id="banner">
    <div class="text-box">
    <span style="color:yellow">
       <br>
    <p>As Water can Wet or Knock,</p>
    <p>As the Wind brings the Whisperings of Thunder Screams,</p>
    <p>As Fire, Life and Death.</p></span><br>
    <p>Read more <a routerLink="/about/me/and/you" routerLinkActive="active">Here</a></p>
    </div>
    <p style="display:block;text-align:center;margin-top:1%;"> Copy and Share 
        <a routerLink="/fire" routerLinkActive="active">&copy;</a> OdicforceSounds
    </p>
</div>