#banner {
    background: url("/assets/images/path.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;

    /* Set up positioning */
    position: relative;
    left: 0;
}

#main {
    margin-left: 0%;
    font-size: 200%;
    text-align: center;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#main div {
    text-align: center;
    font-size: 100%;
    -webkit-columns: 110px 3; /* Chrome, Safari, Opera */
    -moz-columns: 110px 3; /* Firefox */
    columns: 120px 3;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
}

a {
    color:yellow;
}
