<head>
  <title>Magnetic Condition - Psy Cats bt Odicforcesounds</title>
</head>
<button type="button" class="btn btn-info">
    <a routerLink="/emotional/signals" routerLinkActive="active">Signals</a>
</button>
<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3547764980/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
  <h5>Magnetic Condition - Psy Cats</h5>
  <br>
  <p>This is my real condition. Psy Cats are the owners of many skills and states of conscience.</p>
  <p>I am a low level psy cat, while I have no experience, they will be the messengers! </p>
  <p>You see, most of them are really connected to nature, and most had already developed their natural condition!</p>
  <p>I am the noob here ! </p>
</div>

