<head>
  <title>
    Panic - Luck by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/machine/world" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=556507726/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
</div>
<div>
        <h5>Panic - Luck</h5>
        <h6>This Track is Free to Download</h6>
        <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
        <br>
        <p>Sometimes Panic lead us to a state of Luck! </p>
    </div>
</div>
