<head>
  <title>
    Concept Proof - Life and Love by OdicforceSounds
  </title>
  <head>
    <meta name='description' content='Concept Proof - Life and Love by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Concept Proof - Life and Love by OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />

</head>
</head>
<meta name='description' content='tao, yinyang, odicforcesounds, logic, science, spirituality, reality, zodiacs'>
<div id="banner">
  <div id="textbox"><br>
    <h3>Yin -> (<span style="color:orange">1+0=1</span>) - <a routerLink="/lets/make/business" routerLinkActive="active">Tiger</a> - America</h3>
    <h3 id="yellow">Welcome to the Era of <a routerLink="/fire" routerLinkActive="active">Fire</a> (
      <a routerLink="/ring/of/fire/yin" routerLinkActive="active">Yin</a> ) - 2016 - <span style="color:aqua">E</span> "Year of the <a routerLink="/ma6nata/evil/inside" routerLinkActive="active"><span style="color:red">Red</span></a> Fire Monkey"</h3>
    <h3>Yang -> (<span style="color:yellow">0+1=1</span>) -
      <a routerLink="/dragon" routerLinkActive="active">Dragon</a> - Asia</h3>
    <h3 id="yellow">We Came In <a routerLink="/we/came/in/peace" routerLinkActive="active">Peace</a> (
      <a routerLink="/ring/of/fire/yang" RouterLinkActive="active">Yang</a> ) - 1980 - <span style="color:aqua">m</span> "Year of the <a routerLink="/black/gold" routerLinkActive="active"><span style="color:orange">Gold</span></a> Metal Monkey"</h3>
    <h3>Tao -> (<span style="color:orange">1</span>+<span style="color:yellow">1</span>=<span style="color:red">1</span> OR <span style="color:greenyellow">3</span>) -
      <a routerLink="/fire/in/my/eyes/metal/in/my/soul" routerLinkActive="active">Monkey</a> - WorldWide</h3>
    <h3><a routerLink="/real/time" routerLinkActive="active">Realtime</a> -
      <a routerLink="/absolute/everything/and/everyone" routerLinkActive="active"> WorldWide </a> -
      <a routerLink="/shamanic/visions" routerLinkActive="active">Shamanic</a> -
      <a routerLink="/mission/world/wide/target" routerLinkActive="active">Quest</a> (
        <a routerLink="/last/warning/tao/touch" routerLinkActive="active">Tao</a> ) <span style="color:aqua">- c2</span> </h3>
        <br>
        <app-three></app-three>
  </div><br><br>
</div>
