<head>
  <title>
    Anomaly - Disconnected Function by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/space/trip" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
                <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=738011788/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
        </div>
        <div>
                <h5>Anomaly - Disconnected Function</h5>
                <h6>This Track is Free to Download</h6>
                <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
                <br>
                <p>Like an anomaly, like some function was disconnected, in my perception, in my experience,
                  the sensation of being injected with information that take me more than 2 years to express,
                  since this text is part of the expression I am trying to express for 2 years. I feel glad my loop functions are connected )
                  I think to my self, is this real?
                </p>
            </div>
        </div>
