#banner {
  background: url("https://i00nsu.keybase.pub/odicforcesounds.com/images/monkey.jpg") no-repeat center center fixed;
  background-size: auto;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;

  /* Set up positioning */
  position: relative;
}

.container {
  width: 100%;
  min-width: 25%;
}

h4 {
  text-align: center;
}

#vot {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#mw {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#st {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#skd {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#ed {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#nfi {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#es {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#ot {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}

#life {
  margin-top: 2%;
  text-align: center;
  font-size: 120%;
}