<button type="button" class="btn btn-info">
  <a routerLink="/machine/world" routerLinkActive="active">World</a>
</button>
<div id="main">
<iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=513375116/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
    <h5>Strange Groove - Noise</h5>
    <h6>This Track is Free to Download</h6>
    <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
</div>
