h6 {
    color:blue;
}

.container {
    height: 100%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    /* Set up positioning */
    position: relative;
}

.row {
    height: 100%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    /* Set up positioning */
    position: relative;
}

.col-sm-4 {
    color: black;
}

.text-box {
    height: 100%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    /* Set up positioning */
    position: relative;
    top: 1.5%;
    left: 0;
    text-align: justify;
    font-size: 150%;
    color:blue;
    border-left-color: greenyellow;
}
#banner {
    background: url("/assets/images/visionsofthor.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    margin-top: -1.3%;
        
    /* Set up positioning */
    position: relative;
    left: 0;
}
