.container {

          /* Set up positioning */
          position: relative;
      }

      .row {
          height: 100%;
          /* Set up proportionate scaling */
          min-width: 100%;
          min-height: 100%;
          /* Set up positioning */
          position: relative;
      }

      .text-box {
          margin-left: 10px;
          /* Set up positioning */
          position: relative;
          left: 0;
          text-align: justify;
          font-size: 150%;
      }
