<head>
  <title>
    Parallel Wish - The Mirror by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
    <a routerLink="/only/tributes" routerLinkActive="active">Tributes</a>
</button>
<div id="main">


    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=3864128520/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
<br>
    <h5>Parallel Wish - The Mirror</h5>
  <h6>This Track is Free to Download</h6>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <br>
    <p>Positive Message in tribute to a unpredictable state of result, which ask reflection, but possess an intention.</p>
</div>

