<div class="container">
        <h4>YinYang (Tao) Tribute</h4>
        <h5>Each Full album only for 3€</h5>
        <div class="row">
          <div class="col-sm-6">
                <p><span style="color:yellow">Visions of Thor - Mỹ Sơn</span></p>
                <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by Odicforcesounds</a></iframe>
                <p>Read About  <a routerLink="/articles/vot" routerLinkActive="active">here</a></p>
            </div>
          <div class="col-sm-6">
                <p><span style="color:yellow">Machine World</span></p>
            <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
            <p>Read About  <a routerLink="/articles/mw" routerLinkActive="active">here</a></p>    
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="color:yellow">Space Trip</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
                    <p>Read About  <a routerLink="/articles/st" routerLinkActive="active">here</a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="color:yellow">Shiva and Kali Dance</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
                    <p>Read About  <a routerLink="/articles/skd" routerLinkActive="active">here</a></p>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="color:yellow">Eternal Delay</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841494618/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/eternal-delay">Eternal Delay by Odicforcesounds</a></iframe>
                    <p>Read About  <a routerLink="/articles/et" routerLinkActive="active">here</a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="color:yellow">Noise Frequency - Impulse</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by Odicforcesounds</a></iframe>
                    <p>Read About  <a routerLink="/articles/nfi" routerLinkActive="active">here</a></p>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="color:yellow">Emotional Signals</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
                    <p>Read About  <a routerLink="/articles/es" routerLinkActive="active">here</a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="color:yellow">Only Tributes</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
                    <p>Read About  <a routerLink="/articles/ot" routerLinkActive="active">here</a></p>
            </div>
        </div>
    <div>
</div>