div {
    text-align: center;
}

.iframe {
    text-align: center;
}

#banner {
    background: url("/assets/images/monkey.jpg") no-repeat center;
    position: relative;
    background-size: cover;
    margin-top: -1.5%;
    padding: 0;
    color: white;
  }
  p {
      text-align: center;
      position: relative;
  }
  h4 {
      margin-top: 2%;
  }