<div id="banner">
    <div class="container">
            <h4><a routerLink="/boom/cat" routerLinkActive="active" style="color:#00ff00;background-color:#000000;font-size:100%"><b>Tao</b></a></h4>            
        <div class="row">
            <div class="col-sm-6">
                <p><span style="background-color:black;color:yellow;font-size:120%">Visions of Thor - Mỹ Sơn</span></p>
                <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by Odicforcesounds</a></iframe>
                <p><a routerLink="/visions/of/thor" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Read About Here</a></p>
            </div>
            <div class="col-sm-6">
                <p><span style="background-color:black;color:yellow;font-size:120%">Machine World</span></p>
            <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
            <p><a routerLink="/machine/world" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Read About Here</a></p>    
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Space Trip</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
                    <p><a routerLink="/space/trip" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Read About Here</a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Shiva and Kali Dance</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
                    <p><a routerLink="/shiva/and/kali/dance" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Read About Here</a></p>
                </div>
            </div>
            
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Eternal Delay</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841494618/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/eternal-delay">Eternal Delay by Odicforcesounds</a></iframe>
                    <p><a routerLink="/eternal/delay" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Read About Here</a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Noise Frequency - Impulse</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by Odicforcesounds</a></iframe>
                    <p><a routerLink="/noise/frequency/impulse" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Read About Here</a></p>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Emotional Signals</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
                    <p><a routerLink="/emotional/signals" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black"><b>here</b></a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Only Tributes</span></p>
                    <iframe style="border: 0; width: 50%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
                    <p><a routerLink="/only/tributes" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Read About Here</a></p><br>
            </div>
        </div>
    <div>
</div>