<div id="banner">
    <div class="container">
            <h4><a routerLink="/boom/cat" routerLinkActive="active" style="color:hsl(0, 0%, 0%);font-size:300%"><b>TAO</b></a></h4>            
        <div class="row"><br><br><br>
            <div class="col-sm-6">
                <p><span style="background-color:black;color:yellow;font-size:120%">Visions of Thor - Mỹ Sơn</span>
                
                <a routerLink="/visions/of/thor" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Click  Here</a></p>
            </div>
            <div class="col-sm-6">
                <p><span style="background-color:black;color:yellow;font-size:120%">Machine World</span>
            
            <a routerLink="/machine/world" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Click  Here</a></p>    
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Space Trip</span>
            
                    <a routerLink="/space/trip" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Click  Here</a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Shiva and Kali Dance</span>
            <a routerLink="/shiva/and/kali/dance" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Click  Here</a></p>
                </div>
            </div>
            
        <div class="row">
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Eternal Delay</span>
            
                    <a routerLink="/eternal/delay" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Click  Here</a></p>
            </div>
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Noise Frequency - Impulse</span>
            
                    <a routerLink="/noise/frequency/impulse" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Click  Here</a></p>
            </div>

        <div class="row">
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Emotional Signals</span>
            
                    <a routerLink="/emotional/signals" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black"><b>Click  Here</b></a></p>
                </div>
            <div class="col-sm-6">
                    <p><span style="background-color:black;color:yellow;font-size:120%">Only Tributes</span>
            
                    <a routerLink="/only/tributes" routerLinkActive="active" style="font-size:120%;color:hsl(184, 100%, 51%);background-color:black">Click  Here</a></p><br>
            </div>
        </div>
        <a routerLink="/water/vs/blood">
            <span style="font-size:16px;background-color:black;color:aqua">Water</span>
            <span style="font-size:16px;background-color:black;color:white">VS</span> 
            <span style="font-size:16px;background-color:black;color:red">Blood</span> </a>
    <div>
</div>