
<nav class="navbar navbar-default" style="position:relative">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">-</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/tao"><b>道</b><span style="color:aqua"> Tao</span></a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> <span style="color:lightgreen"> <b>Home</b></span></a></li>
        <li><a routerLink="/license" routerLinkActive="active"><span class="glyphicon glyphicon-pencil"></span> <span style="color:orange"><b>License</b></span></a></li>
        <li><a routerLink="/who" routerLinkActive="active"><span class="glyphicon glyphicon-question-sign"></span ><span style="color:yellow"> <b>Who</b></span></a></li>
        <li><a routerLink="/yin/yang" routerLinkActive="active"><span class="glyphicon glyphicon-music"></span> <span style="color:firebrick"><b> YinYang</b></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <!-- <li class="disabled"><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-user"> Login</span></a></li> -->
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>