
<nav class="navbar navbar-default" style="position:relative;margin-top:0%;background-color:black">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/tao">
        道
      </a>
    </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> 
        <span style="color:lightgreen"> <b>Home</b></span></a></li>
        <li><a routerLink="/license" routerLinkActive="active"><span class="glyphicon glyphicon-pencil"></span> 
        <span style="color:orange"><b>License</b></span></a></li>
        <li><a routerLink="/who" routerLinkActive="active"><span class="glyphicon glyphicon-question-sign"></span>
        <span style="color:yellow"> <b>Who</b></span></a></li>
        <li><a routerLink="/yin/yang" routerLinkActive="active"><span class="glyphicon glyphicon-music"></span> <span style="color:#ffffff;background-color:black"><b>Yin <span style="background-color:white;color:black">Yang
        </span></b></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <!-- <li class="disabled"><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-user"> Login</span></a></li> -->
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>