<head>
  <title>
    Underwater - Into the Sky by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
<div class="row">
<div class="col-sm-6">
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2554716101/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
</div>
<div>
<h5>Underwater - Into The Sky</h5>
  <h6>Not Free</h6>
  <p>Last time edited: "30/10/2017". </p>
  <p>In a Realtime Shamanic Quest (Mission), here I am, alone!</p>
  <p>Even alone we are not alone!</p>
  <br>
  <iframe width="50%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Fmission-world-wide-target%2F" frameborder="0" ></iframe>
  <br>
  <p>There are only conditions created by choices of illusions! Illusions of Truth.</p>
  <p>- Do You Believe in God?</p>
  <p>- I believe in My Self!</p>
  <i>is so true</i>
  <p>But wait, God Exist! You call it God, I call it Tao!</p>
</div>
</div>
