<div class="container">
    <h4>Only Tributes</h4>
    <div class="row">
      <div class="col-sm-6">
          <iframe style="border: 0; width: 140%; height: 40px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
        </div>
      <div class="col-sm-8">
        <br><br><br>
        <b>Only Tributes</b> to remind you to remember what Cats and Dogs <a href="https://odicforcesounds.bandcamp.com/track/dogs-like-to-dance-cats-like-to-watch">like to do</a>, the advice’s of <a href="https://odicforcesounds.bandcamp.com/track/bruce-lee-advice-and-the-naughty-challenge">Bruce Lee</a>, don’t forget the <a href="https://odicforcesounds.bandcamp.com/track/galactic-passion-dragon-fire-2">Dragon Fire</a>, because in this unlimited <a href="https://odicforcesounds.bandcamp.com/track/matrix-no-limits">Matrix</a>, there are many <a href="https://odicforcesounds.bandcamp.com/track/lords-egocentric-will">Egocentric Wills</a>, that <a href="https://odicforcesounds.bandcamp.com/track/vital-manipulation-become-mad">manipulate</a> others madly, in a sort of <a href="https://odicforcesounds.bandcamp.com/track/parallel-wish-the-mirror">mirror</a>, with two <a href="https://odicforcesounds.bandcamp.com/track/two-sides-one-force">faces</a>.
      </div>
    <div class="col-sm-4">
        <br><br>
        <h5>Buy this album only for 3€</h5>
        <br>
        <h6>Most tracks are "free" to Download</h6><br>
        <h6>For those tracks, You may wish to "hack" Bandcamp System</h6><br>
        <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
    </div>
  </div>
