<head>
  <title>
    The Game Project - In Fun to Take Care
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/emotional/signals" routerLinkActive="active">Signals</a>
</button>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;"
                    src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2451716309/transparent=true/" seamless>
                    <a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a>
            </iframe>
        </div>
        <div class="col-sm-4">
                <h4>The Game Project</h4>
                <h6>Is Fun to Take Care</h6>
                <h6>This Track is Free to Download</h6>
                <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
                <br>
                <p>Did You Already read my Eternal <a routerLink="/license" routerLinkActive="active">License</a>?</p>
                <p>Care My <a routerLink="/wiki" routerLinkActive="active">Gift's</a>!</p>
            </div>
        </div>
