<head>
  <title>
    Little Box - Universe ( Intro )
  </title>
</head>

<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

    <div class="row">
      <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1598213817/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
      </div>
        <div class="col-sm-4">
                <h5>Little Box - Universe (intro)</h5>
                <h6>This Track is Free to Download</h6>
                <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
                <br>
                <p>How much we know the universe?</p>
                <p>How much we know Our Self's?</p>
                <p>What else should we being <a routerLink="/care/not/focus" routerLinkActive="active">Focus</a> at?</p>
            </div>
        </div>

