<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
    <h5>Little Box - Universe (intro)</h5>
    <div class="row">
      <div class="col-sm-6">
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1598213817/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
      </div>
        <div class="col-sm-4">
          <h3>Free</h3><br>
          <h5>But Feel Free to Listen</h5>
          <p>Feel Free to add ( +0€ ) or give a contribution!</p>
          <br>
          <i>read more</i> soon
      </div>
    </div>
</div>

