<head>
  <title>
    Emerge - Internal Upgrade by Odicforcesounds
  </title>
  <meta name='description' content=' Emerge - Internal Upgrade by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content=' Emerge - Internal Upgrade by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1669341231/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
    <br><div id="text-box">
    <h5>
    Emerge - Internal Upgrade</h5>
    <h6>This Track is Free to Download</h6>
    <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
    <br>
    <a href="https://estastonne.com" target="_blank">Estas Tonne</a> Tribute in Memory of <a href="https://www.youtube.com/watch?v=B5WbSrorUyI" target="_blank">ButterFly</a>
  </div>
</div>
