<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/only/tributes" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3920881151/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
</div>
<div>
  <h5>Two Sides - One Force</h5>
  <h6>Not Free</h6>
  <br>
  <p><a href="http://www.starwars.com" target="_blank">Star Wars</a> Tribute</p>
  <p>More than anything, this energy that is around Us is Real!</p>
  <p>The Power of Will, is the key to gain any kind of Power!</p>
  <p>Focus the illusion You wish to, build it in your mind. Test.. Test.. keep testing!</p>
  <p>The Brain have deeper capacities than You think!</p>
  <p>Keep calm: many pass their lifes trying without any results, and others could.</p>
</div>
</div>
