<head>
  <title>
    Delay - Expectative by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
    <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">Dance</a>
</button>
<div id="main">
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=2109650398/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
<br>
  <h5>Delay - Expectative</h5>
  <h6>This Track is Free to Download</h6>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <br>
  <p>Yes, I believe I am wrinting this text in a form of expectative of ( something will happen ).</p>
  <p>Yes, I don't know what will happen. I only know I believe something will happen!</p>
  <p>Dreams... You shall Free everyone to have the Right to Dream!!</p>
  <p>We are <a routerLink="/we/are/tools/objects/of/expression" routerLinkActive="active">Tools</a>
    to build what other people already had dream, because dreams are part of the core concept of science,
    dreams are part of reality!</p>
</div>
