div {

    text-align: center;
    font-size: 130%;
}

a {
    animation: none;
}

#banner {
    background: url("/assets/images/shadows.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    margin-top: -2.3%;
      
    /* Set up positioning */
    position: relative;
    top: 1.5%;
    left: 0;
    }