<head>
  <title>
    OdicforceSounds Visions and Quest
  </title>
  <meta name='description' content=' OdicforceSounds Visions and Quest'>
  <meta name='target' content='all'>
  <meta name='DC.title' content=' OdicforceSounds Visions and Quest'>
  <meta http-equiv='Expires' content='0'>
</head>
<div id="banner">
  <div><br>
    <h3>Unique Touch - Concept Proof - Life and Love</h3><br>
    <p><a routerLink="/the/fun/project/is/fun/to/take/care" routerLinkActive="active">The Game Project - Is Fun To Take Care</a></p><br>
    <p>aka</p><br>
    <p><a routerLink="/social/tool/kit/world/wide/conscience/cleaner" routerLinkActive="active">Social Tool Kit - World Wide Conscious Cleaner</a></p><br>
    <h3>~ Respect God Will ~</h3><br>
    <p><span style="color:orange">Humanity is living into a ‪Dark realm</span> - <a routerLink="/black/birds/red/eyes" routerLinkActive="active"><span style="color:red;background-color:black">Black Birds - Red Eyes</span></a></p>
    <p>‎<a routerLink="/little/box/universe" routerLinkActive="active">This Universe‬ is a little box</a></p><br>
    <p>Today I am here to tell You, <a routerLink="/we/must/change/our/ways" routerLinkActive="active">You Must Change Your Ways</a>.</p><br>
    <p>If you ignore it, <span style="color:red">Odin</span> will come to ‎Clean‬ <span style="color:greenyellow">‎World‬ ‪‎Wide‬ ‎Conscious</span>‬
      showing no <span style="color:darkgoldenrod">‪‎Mercy</span>‬ with no <span style="color:lightskyblue">Game</span>, or nor <span style="color:aqua">Fun</span>!</p><br>
    <p>‎<i>Spread for Love and I will show you good ‪‎Music</i> - <b>Shiva</b></p><br>
    <p>I can only have time to think because it is in the <span style="color:red">blood</span>.</p><br>
  </div>
</div>
