<div>
  <h3>Unique Touch - Concept Proof - Life and Love</h3>
  <br>
  <p><a routerLink="/bc/a/es/t/es10" routerLinkActive="active">The Game Project - Is Fun To Take Care</a></p>
  <p>aka</p>
  <p><a routerLink="/wiki/idea" routerLinkActive="active">Social Tool Kit - World Wide Conscious Cleaner</a></p>
  <h5>~ Respect God Will ~</h5>
  <p>Humanity is living into a ‪Dark realm - <a href="https://odicforcesounds.bandcamp.com/track/black-birds-red-eyes"><span class="text-danger">Black Birds - Red Eyes</span></a></p>
  <p>‎<a href="https://odicforcesounds.bandcamp.com/track/little-box-universe-part-2">This Universe‬ is a little box</a></p>
  <p>Today I am here to tell You, <a href="https://www.mixcloud.com/OdicforceSounds/we-must-change-our-ways/" target="_blank">You Must Change Your Ways</a>.</p>
  <p>If you ignore it, <span class="text-danger">Odin</span> will come to ‎Clean‬ <span style="color:greenyellow">‎World‬ ‪‎Wide‬ ‎Conscious</span>‬ showing no ‪‎Mercy‬ with no Game, or nor Fun!</p>
  <p>‎Spread for Love and I will show you good ‪‎Music! - Shiva</p>
  <p>I can only have time to think because it is in the <span class="text-danger">blood</span>.</p>
</div>
