div {
    margin-top: 2%;
    text-align: center;
    font-size: 130%;
}

a {
    animation: none;
}

#banner {
    background: url("/assets/images/shadows.jpg") no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    color: white;
  }