<button style="background-color:black;color:aqua;border:none">
    <a routerLink="/emotional/signals" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

    <div class="row">
      <div class="col-sm-6">
          <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=3633744356/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>      </div>
        <div class="col-sm-4">
                <h4>Shamanic Visions</h4>
                <h6>Into The Realm of Psychedelic Interpretations</h6>
                <h6>This Track is Free to Download</h6>
                <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
          <p> Because between most everything we can feel it depends on sound and image, the use of some drugs make us see it with our own eyes, what normally people can't. Only light sensitive people who are part of the positive results of this Vital Force phenomena that Von Reichenbach was trying to prove his existence.</p>
          <br>
          <i>read more</i> soon
        </div>
    </div>
</div>

