<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/only/tributes" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">

<div class="row">
<div class="col-sm-6">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2770634198/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
</div>      
<div>
  <h5>
      Matrix - No Limits</h5>
  <h6>Not Free</h6>
  <br>
  <i>read more</i> soon
</div>
</div>
  