<head>
  <title>
    Residents of Love - Deep Touch by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
    <a routerLink="/space/trip" routerLinkActive="active">Trip</a>
    </button>
    <div id="main">
                <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=251107987/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
       <br>
                <h5>Residents of Love - Deep Touch</h5>
            <h6>This Track is Not Free to Download</h6><br>

    </div>
