<head>
    <title>Are You Evil by OdicforceSounds</title>
    <meta name='description' content='Are You Evil by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Are You Evil by OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
  </head>

<div id="player">
  <iframe width="40%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FOdicforceSounds%2Fare-you-evil%2F" frameborder="0" ></iframe>
</div>
<div id="text-box">
  <p>What is being Evil?</p>
  <p>We Can say that everyone who make questions are being Evil</p>
  <p>But naturally being Evil is being in a Condition of Power</p>
  <p>And That is the main reason our society is getting sick</p>
  <p>Most everyone is Evil</p>
  <p>But, if you understand the propose of being Evil</p>
  <p>I mean, if you understand that we live in society because some "Evil"</p>
  <p>Think and Manipulate our society, like I am doing</p>
  <p>Is not being Evil in the sense of transformation and upgrade</p>
  <p>It is being Evil in the sense of transformation and upgrade</p>
  <p>You see, imagine You life with your wife and you want silence at night so both can sleep</p>
  <p>Preparing a "surprise" for the people who do noise when You wish to sleep, is being Evil</p>
  <p>Naturally, for the benefit of both perspectives</p>
  <p>the surprise is not always good and you should talk </p>
  <p>You should talk with the people ( asking to not make more noise )</p>
  <p>Giving time to time, if they continue You can call the police to solve the problem.</p>
  <p>Even calling the police is Evil, because You thought about a solution to solve your problems</p>
  <p>Developers around the world, feel them selfs Evil in that point of view</p>
  <p>They question everything, they test everything, they change and manipulate what ever they wish to</p>
  <p>What cant You do with knowledge?</p>
  <p>In then end, I think I am the less Evil</p>
  <p>Because I decide to share information that may help you to make a choice</p>
  <p>while all other expression of Evil, do not tell anything to almost anyone!</p>
  <p>They dont ask!</p>
  <p>And just because Spiritual Life is an Logic illusion</p>
  <p>and because I am a Monkey</p>
  <p>I have the permission of those who are Evil then me</p>
  <p>To give You a choice!</p>
  <br><br>
</div>
