<head>
  <title>
    Show Us Some Respect - Warning by Odicforcesounds
  </title>
  <meta name='description' content='Show Us Some Respect - Warning by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, show, respect, warning">
  <meta name='DC.title' content='Show Us Some Respect - Warning by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">

  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841494618/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=3153515727/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/eternal-delay">Eternal Delay by Odicforcesounds</a></iframe>
        <br>
        <h5>Show Us Some Respect - Warning</h5>

    </div>
