<div class="title">
  <h3>Introduction to World Cleaner</h3>
</div>

<table>
  <thead>
    <tr>
      <td class style="text-align:center">I Ask You to Pay Attention - Read</td>
      <td class style="text-align:center">Musical Expression</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Everything that exist, needs an illusion and one intention, and may be used as a Function of 1 single End, or for almost everything we need, like the wheels do. When we are talking about <span style="color:aqua">Social</span> / <span style="color:yellow">Human</span> / <span style="color:gold">Animals</span> / <span style="color:greenyellow">Nature</span> <b>Subjects</b>, We Need <b>All</b> the old knowledge, as it is <b>Vital</b> to our existence, since We are in a <b>Superior</b> condition, compared to all other Living Beings. That <i>State of Conscience</i>, Lead Us only to Our Self's, as Key to solve all Internal or External <b>Challenges</b> we need to do. 
      </td>
      <td>
          <iframe style="border: 0; width: 350px; height: 450px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/track=3319147694/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
      </td>
    </tr>
  </tbody>
</table>

<div>
    <button class="button">
        <p><a routerLink="/wiki">Click Here to Go back to Wiki Main Page</a></p>
      </button>
</div>

