<head>
    <title>Developing Unknown Code by OdicforceSounds</title>
    <meta name='description' content='Developing Unknown Code by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Developing Unknown Code by OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
  </head>
<div id="player">
      <iframe width="40%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Fdeveloping-unknown-code%2F" frameborder="0" ></iframe>
  </div>
  <div id="text-box">
  <p>HTML, CSS, JavaScript, Angular, TypeScript, Firebase</p>
  <p>While I believe I am still learning all languages with similar functions</p>
  <p>that manipulate each others</p>
  <p>I think about coding the brain, more than coding a machine</p>
  <p>which in this case</p>
  <p>is not a machine, but a single application</p>
  <p>while my brain is a single application</p>
  <p>this piece of web application is an application as well</p>
  <p>Not so much logic in here..</p>
  <p>Just some basic principles of Angular</p>
  <p>like routing</p>
  <p>and simple HTML and CSS</p>
  <p>I even didnt my CSS theme</p>
  <p>Just using one of the many around the globe</p>
  <p>that are free to use</p>
  <p>I dont even care to modify them</p>
  <p>But I am learning.. slowly I am building this web application</p>
  <p>Not only for me... not only for You</p>
  <br><br>
  </div>
