<head>
    <title>Developing Unknown Code by OdicforceSounds</title>
    <meta name='description' content='Developing Unknown Code by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Developing Unknown Code by OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
  </head>
<div id="player">
      <iframe width="40%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Fdeveloping-unknown-code%2F" frameborder="0" ></iframe>
  </div>
  <div id="text-box">
  <p>HTML, CSS, JavaScript, Angular, TypeScript, Firebase</p>
  </div>
