a {
    text-decoration: none;

}

.navbar {
    position: relative; /* Set the navbar to fixed position */
    float: none;
    margin: auto;
    display: inline-block;
    text-align: center


}
.navbar a {
    position: relative;
    float: 1px;
    display: inline-block;
    text-align: center;
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
}

.nav-tabs {
  text-align: center;
}

.tab {
  background-color: black;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: middle;
  }
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.image {
    width: 12px;
}
