<nav class="navbar navbar-nav fixed-top navbar-dark bg-inverse" style="background-color:black">
<div class="container-fluid">
    <div class="navbar-header tab-content">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item">
                <a routerLink="/tao" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active nav-link">

            <span style="color:aqua" > <b>道 Tao</b></span></a></li>

            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active nav-link">
                <i class="fa fa-home" aria-hidden="true">

                </i><span style="color:lightgreen"> <b>Home</b></span></a></li>

            <li class="nav-item">
                <a routerLink="/license" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active nav-link">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                 <span style="color:orange"><b> License</b></span></a></li>

            <li class="nav-item">
                <a routerLink="/who" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active nav-link">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span style="color:yellow"> <b>Who</b></span></a></li>

            <li class="nav-item">
                <a routerLink="/yin/yang" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active nav-link">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                    <span style="color:#ffffff;background-color:black"><b>Yin<span style="background-color:white;color:black">Yang
            </span></b></span></a></li>

            <li class="nav-item">
                <a routerLink="/oscar/fm" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active nav-link">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <span style="color:rgb(78, 101, 233)"> <b>Oscar FM</b></span></a></li>
            <li class="nav-item">

                <a routerLink="/dance/of/love" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active nav-link">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                 <span style="color:rgb(162, 78, 240)"> <b>Love</b></span></a></li>



        <!--     <li><a routerLink="/blog" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">
            <span style="color:rgba(53, 187, 240, 0.507)"> <b>Blog</b></span></a></li>

            <li><a routerLink="/logmein" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">
            <span style="color:rgba(81, 255, 0, 0.507)"> <b>Login</b></span></a></li>
    -->
        </ul>
    </div>
</div>
</nav>
