<nav id="topmenu" class="navbar navbar-nav" style="background-color:black">
<div id="topmenu-container" class="container-fluid">
    <div class="navbar-header" class="tab-content" id="TabContent">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" routerLink="/tao" data-toggle="pill" class="active tab-pane fade in active">
                <i class="fas fa-american-sign-language-interpreting"></i> <b>道 <span style="color:aqua" > Tao </span></b></a></li>
            <li><a routerLink="/home" routerLinkActive="active" data-toggle="pill" class="active tab-pane fade in active">
                <i class="fas fa-home"></i><span style="color:lightgreen"> <b>Home</b></span></a></li>
            <li><a routerLink="/license" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">
                <i class="fas fa-pen-square"></i> <span style="color:orange"><b>License</b></span></a></li>
            <li><a routerLink="/who" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">

                <i class="fas fa-question-circle"></i> <span style="color:yellow"> <b>Who</b></span></a></li>
            <li> <a routerLink="/yin/yang" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">
                <i class="fas fa-adjust"></i>  <span style="color:#ffffff;background-color:black"><b>Yin<span style="background-color:white;color:black">Yang
            </span></b></span></a></li>
            <li><a routerLink="/oscar/fm" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">

                <i class="fas fa-user"></i> <span style="color:rgb(78, 101, 233)"> <b>Oscar FM</b></span></a></li>
            <li><a routerLink="/dance/of/love" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">
                <i class="fab fa-gratipay"></i> <span style="color:rgb(162, 78, 240)"> <b>Love</b></span></a></li>

        <!--     <li><a routerLink="/blog" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">
            <span style="color:rgba(53, 187, 240, 0.507)"> <b>Blog</b></span></a></li>

            <li><a routerLink="/logmein" routerLinkActive="active" data-toggle="pill" class="tab-pane fade in active">
            <span style="color:rgba(81, 255, 0, 0.507)"> <b>Login</b></span></a></li>
    -->
        </ul>
    </div>
</div>
</nav>
