<head>
  <title>
    Pain vs Love by Odicforcesounds
  </title>
  <meta name='description' content='Pain vs Love by Odicforcesounds'>
  <meta name='target' content='all'>  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, pain, love">
  <meta name='DC.title' content='Pain vs Love by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=2774784822/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
    <p>Where Pain is Yin, where Love is Yang </p>
    <p>"The Eternal Dance of Love" </p>
    <p> only for the self</p>
    <p> but to all.</p>
    <br>
    <button class="button" style="background-color:black;color:blue;font-size:12px;border:none">
        <p><a routerLink="/visions/of/thor" routerLinkActive="active">Back to Visions of Thor</a> </p>
    </button><br>
    <p></p>
    <br>
</div>
