<button style="background-color:black;color:aqua;border:none">
  <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">Back to Album Description</a>
</button>
<div class="container">
<div class="row">
<div class="col-sm-6">
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1184108404/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
</div>      
<div>
  <h5>Yellow Energy - Burning Box</h5>
  <h6>This Track is Free to Download</h6>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <br>
  <p>What else can we talk about the expression of this track?</p>
  <p>Well, it would be obvious to talk about <a href="http://www.chakras.info/solar-plexus-chakra/" target="_blank"> chakras</a>!</p>
  <p>Check <a routerLink="/oscar/fm" routerLinkActive="active">Oscar FM</a> for more informations!</p><br><br><br>
  <iframe width="50%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Ffirebase-solar-plexus%2F" frameborder="0" ></iframe>
</div>
</div>