<head>
  <title>
    Yellow Energy - Burning Box by Odicforcesounds
  </title>
  <meta name='description' content='Yellow Energy - Burning Box by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, yellow, box, burning, box">
  <meta name='DC.title' content='Yellow Energy - Burning Box by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">

  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=958477750/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1184108404/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/shiva-and-kali-dance">Shiva and Kali Dance by Odicforcesounds</a></iframe>
<br>
  <h5>Yellow Energy - Burning Box</h5>
  <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
  <p>Well, it would be obvious to talk about <a href="http://www.chakras.info/solar-plexus-chakra/" target="_blank"> chakras</a>!</p>
  <p>Check <b>Oscar FM</b> for more informations!</p><br>
</div>
