#textbox {
    text-align: center;
    font-size: 190%;
    margin-top: 5%;
}

html, body {
    height: 100%;
    margin: 0;
}




#banner {
    background: url("/assets/images/firering.jpg") no-repeat center;
    position: relative;
    background-size: cover;
    margin-top: -5%;
    padding: 0;
    color: white;
  }
