#textbox {
    text-align: center;
    font-size: 250%;
    color: greenyellow;
}

#banner {
background: url("/assets/images/wukong.jpg") no-repeat center;
position: relative;
background-size: cover;
margin-top: -1.5%;
margin-bottom: -12%;
padding: 0;
color: white;
}