<div>
  <h3>Yin -> (<span style="color:orange">1+0=1</span>) - <a routerLink="/bc/st/t/st5" routerLinkActive="active">Tiger</a> - America</h3>
  <p>Welcome to the Era of <a routerLink="/mx/tao/solplex" routerLinkActive="active">Fire</a> ( 
    <a routerLink="/mx/tao/rfyin" routerLinkActive="active">Yin</a> ) - 2016 - <span style="color:aqua">E</span> "Year of the <span style="color:red">Red</span> Fire Monkey"</p>
  <h3>Yang -> (<span style="color:yellow">0+1=1</span>) - 
    <a routerLink="/mx/tao/dramonk" routerLinkActive="active">Dragon</a> - Asia</h3>
  <p>We Came In <a routerLink="/bc/a/es/t/es1" routerLinkActive="active">Peace</a> ( 
    <a routerLink="/mx/tao/rfyang" RouterLinkActive="active">Yang</a> ) - 1980 - <span style="color:aqua">m</span> "Year of the <span style="color:orange">Gold</span> Metal Monkey"</p>
  <h3>Tao -> (<span style="color:red">1+1=1</span> OR <span style="color:greenyellow">3</span>) - 
    <a routerLink="/mx/tao/monk" routerLinkActive="active">Monkey</a> - WorldWide</h3>
  <p><a routerLink="/mx/tao/rt" routerLinkActive="active">Realtime</a> 
    <a href="https://soundcloud.com/shamanic_quest_dream/absolute-everything-and-everyone" target="_blank">WorldWide</a> 
    <a routerLink="/bc/a/es/t/es9" routerLinkActive="active">Shamanic</a> 
    <a routerLink="/mx/tao/mission" routerLinkActive="active">Quest</a> ( 
      <a routerLink="/mx/tao/tao" routerLinkActive="active">Tao</a> ) - <span style="color:aqua">c2</span></p>
  <br> 
  <p><a href="https://soundcloud.com/odicforcesounds-channel/3-you-tell-me" target="_blank">3 - You Tell Me</a></p>
</div>