<div class="title">
    <h3>Core Concepts of World Cleaner</h3>
  </div>
  
  <table>
    <thead>
      <tr>
        <td class style="text-align:center">Life is flowing like Time, like the Water which Explore the Walls of any River, as "he" is the Designer of the River it self.</td>
        <td class style="text-align:center">Musical Expression</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>Life is getting Worst than Ever, not because most People wish to, but because the system that maintain our life's condition, ask us to give money and produce it as well, to ensure We are able to Live alone. This condition can be a solution, but at the same time is a problem.</p>
        <td>
            <a href="https://soundcloud.com/shamanic_quest_dream/walking-with-the-river" >
            <p class style="text-align:center">Walking with the River</p>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div>
      <button class="button">
          <p><a routerLink="/wiki">Click Here to Go back to Wiki Main Page</a></p>
        </button>
  </div>
  
  
