<head>
  <title>
    Time Code - Stealth Mode by Odicforcesounds
  </title>
</head>
<button type="button" class="btn btn-info">
  <a routerLink="/noise/frequency/impulse" routerLinkActive="active">Impulse</a>
</button>
<div id="main">
    <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=592593551/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by Odicforcesounds</a></iframe>
<br><h5>
    Time Code - Stealth Mode
</h5>
    <h6>This Track is Free to Download</h6>
    <h6>Feel Free to add ( +0€ ) or give a contribution!</h6>
    <br>
    <i>read more</i> soon
</div>

