h2 {
  color: yellow;
}

#main {
  text-align: center;
  margin-top: 5%;
}

#title {
  text-align: center;
}

#image {
  text-align: center;
}

#text-box {
  text-align: center;
}

#subtitle {
  text-align: center;
}

#topicnote {
  text-align: center;
}

