body {
    background-color: black;
}
table {
    border-collapse: collapse;
    border: 1px solid rgb(0, 237, 245);
    width: 100%;
    min-width: 25%;
    text-align: center;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    vertical-align: top;
    align-content: center;

}

table th {
    border: 1px solid rgb(0, 237, 245);
    text-align: center;
    font-size: 120%;
    padding: 1em;
    align-content: center;

}

table td {
    border: 0.1px solid rgb(0, 217, 255);
    font-size: 150%;
    text-align: center;
    padding: 1em;
    align-content: center;

}

button {
    background: darkslategrey;
    color: white;
    border: none;
    font-size: 120%;
    margin-top: 0%;
    text-align: center;
}



#yinyang {
    background-color: black;
}


#fantasy {
    background-color: blue;
    color: yellow;
}

#logic {
    background-color: rgb(36, 48, 34);
    color: greenyellow;
}

#application {
    background-color: seagreen;
    color: greenyellow;
}
