<head>
  <title>
    Social Tool Kit - World Wide Conscience Cleaner by Odicforcesounds
  </title>
  <meta name='subject' content='World Wide Challenge'>
  <meta name="keywords" content="OdicforceSounds, SunWukong, Hanuman, logic, science, tao, world, wide, conscience, cleaner, project, challenge, edm, odin">
  <meta name='description' content='OdicforceSounds World Wide Message'>
  <meta name='keywords' content='Tao, YinYang, odicforcesounds, social, tool, kit, conscience, cleaner'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Social Tool Kit - World Wide Conscious Cleaner by Odicforcesounds'>
</head>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                    <a routerLink="/sixty/nine" routerLinkActive="active">☯</a></th>
            <th scope="col">Fantasy</th>
            <th scope="col">Logic</th>
            <th scope="col">Application</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/tao/yin/yang" routerLinkActive="active">道</a></th>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/three/you/tell/me" routerLinkActive="active">ॐ</a></td>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/organic/fields/all/energy/all/soul" routerLinkActive="active">Spirit</a></td>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/expression/nature" routerLinkActive="active">Expression</a></td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/the/fun/project/is/fun/to/take/care" routerLinkActive="active">Game</a></th>
            <td><i class="fa fa-bicycle" aria-hidden="true"></i>
                    <a routerLink="/wiki/challenge" routerLinkActive="active">Fun</a></td>
            <td> <p><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/social" routerLinkActive="active"> Social</a></p></td>
            <td><i class="fa fa-book" aria-hidden="true"></i>
                <a routerLink="/wiki/intro" routerLinkActive="active">Education</a></td>
            </tr>
        <tr>
            <th scope="row"><i class="fa fa-play-circle" aria-hidden="true"></i> Player</th>
            <td><i class="fa fa-user" aria-hidden="true"></i>
                <a routerLink="/wiki/idea" routerLinkActive="active">Soul</a></td>
            <td><i class="fa fa-video-camera" aria-hidden="true"></i>
                <a routerLink="/wiki/path" routerLinkActive="active">Actions</a></td>
            <td><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</td>
        </tr>

        <tr>
            <th scope="row"><i class="fa fa-briefcase" aria-hidden="true"></i> Business</th>
            <td><i class="fa fa-play" aria-hidden="true"></i>
            <a routerLink="/power/of/will" routerLinkActive="active">Power</a></td>
            <td><i class="fa fa-industry" aria-hidden="true"></i> Industry</td>
            <td><i class="fa fa-flask" aria-hidden="true"></i> Science</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-music" aria-hidden="true"></i>
                Music</th>
            <td><i class="fa fa-code" aria-hidden="true"></i>
                Spiritual</td>
            <td><i class="fa fa-ravelry" aria-hidden="true"></i>
                Resonance</td>
            <td>Odicforcesounds</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-magic" aria-hidden="true"></i> Magic</th>
            <td><a routerLink="/wiki/core" routerLinkActive="active">Concept</a></td>
            <td><i class="fa fa-square" aria-hidden="true"></i> Form</td>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/myth/illusions/memories" routerLinkActive="active">
                    illusion</a></td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-users" aria-hidden="true"></i> Communities</th>
            <td><i class="fa fa-flag" aria-hidden="true"></i> Causes</td>
            <td>Logos</td>
            <td><i class="fa fa-trophy" aria-hidden="true"></i>
                 Challenge</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-code-fork" aria-hidden="true"></i>
                <a routerLink="/wiki/developers" routerLinkActive="active">Developers</a></th>
            <td> Manipura</td>
            <td><i class="fa fa-github" aria-hidden="true"></i> GitHub</td>
            <td><i class="fa fa-fire" aria-hidden="true"></i> Firebase</td>
        </tr>
    </tbody>
  </table>

