<head>
  <title>
    Social Tool Kit - World Wide Conscience Cleaner by Odicforcesounds
  </title>
  <meta name='subject' content='World Wide Challenge'>
  <meta name="keywords" content="OdicforceSounds, SunWukong, Hanuman, logic, science, tao, world, wide, conscience, cleaner, project, challenge, edm, odin">
  <meta name='description' content='OdicforceSounds World Wide Message'>
  <meta name='keywords' content='Tao, YinYang, odicforcesounds, social, tool, kit, conscience, cleaner'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Social Tool Kit - World Wide Conscious Cleaner by Odicforcesounds'>
</head>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fantasy</th>
        <th scope="col">Logic</th>
        <th scope="col">Application</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Game</th>
        <td>Fun</td>
        <td> <p><i class="fas fa-music"></i><a routerLink="/social" routerLinkActive="active"> Social Tool Kit</a></p></td>
        <td>Education</td>
      </tr>
      <tr>
        <th scope="row">Player</th>
        <td>Soul</td>
        <td>Action</td>
        <td>Sign In</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-music"></i> 道</th>
        <td><i class="fas fa-music"></i> ॐ</td>
        <td><i class="fas fa-music"></i> Spirit</td>
        <td><i class="fas fa-music"></i> Expression</td>
      </tr>
      <tr>
          <th scope="row">Business</th>
          <td><i class="fas fa-music"></i> Power</td>
          <td>Industry</td>
          <td>Science</td>
      </tr>
      <tr>
        <th scope="row">Music</th>
        <td>Spiritual</td>
        <td>Resonance</td>
        <td>Odicforcesounds</td>
    </tr>
    <tr>
        <th scope="row">Magic</th>
        <td>Concept</td>
        <td>Form</td>
        <td>illusion</td>
    </tr>
    <tr>
        <th scope="row">Communities</th>
        <td>Causes</td>
        <td>Logos</td>
        <td>Challenge</td>
    </tr>
    <tr>
        <th scope="row">Developers</th>
        <td>Manipura</td>
        <td>Mobil App</td>
        <td>Firebase</td>
    </tr>
    </tbody>
  </table>

