<section class="columns">

    <div class="column">
        <h2>Introduction</h2>
        <p>
            This Challenge is Fully Targeting All LOGOS! 
        </p>

    </div>

    <div class="column">
        <h2>Rules</h2>
        <p>
            Employees and Administrative groups Create Actions or Register Future Actions. 
        </p>
        <p>The More actions each person do for the Brand, the more Odic_Points Ear, the more higher from other companies is!</p>
    </div>
</section>
<section class="columns">

    <div class="column">
        <h2>Registration</h2>
        <p>
            Send email to "om HAT odicforcesounds DOT com"
        </p>
        <p>Brand name and Logo + Number of People </p>
    </div>

    <div class="column">
        <h2>Extra </h2>
        <p>
            Users Odic_Points will revert into OdiCoins and should have EXPRESSION in Real Economy!
        </p>
        <p>Crypto Coins ( any ) can be integrated</p>
        <p>Companies ear Odic_Points by Users Actions. Companies don't Ear OdiCoins</p>
        <p>Companies Odic_Points are used to manage Challenge Ranking</p>
        <p>Then, companies gain Social Gratitude and Employees Social experience and Civic / Political Gratitude</p>
    </div>
</section>
