<head>
  <title>
    Complex - Unknown Value by Odicforcesounds
  </title>
</head>
<button style="background-color:black;color:aqua;border:none">
        <a routerLink="/space/trip" routerLinkActive="active">Back to Album Description</a>
    </button>
    <div class="container">

    <div class="row">
        <div class="col-sm-6">
                <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/track=1741138027/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
        </div>
        <div><h4>Complex - Unknown Value</h4>
            <h6>Not Free</h6><br>
            <i>read more</i> soon
            </div>
        </div>
    </div>
