<head>
  <title>
    Only Tributes by OdicforceSounds
  </title>
  <meta name='description' content='Only Tributes by OdicforceSounds'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp">
  <meta name='target' content='all'>
  <meta name='DC.title' content='Only Tributes by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="main">

      <div id="text-box">
        <b>Only Tributes</b> to remind you what Cats and Dogs
        <a routerLink="/cats/like/to/dance/dogs/like/to/watch" routerLinkActive="active">like to do</a>,
         the advice’s of <a routerLink="/bruce/lee/advice" routerLinkActive="active">Bruce Lee</a>, don’t forget the
        <a routerLink="/galactic/passion/dragon/fire" routerLinkActive="active">Dragon Fire</a>, because in this unlimited
        <a routerLink="/matrix/no/limits" routerLinkActive="active">Matrix</a>, there are many
        <a routerLink="/lords/egocentric/will" routerLinkActive="active">Egocentric Wills</a>, that
        <a routerLink="/vital/manipulation/become/mad" routerLinkActive="active">manipulate</a> others madly, in a sort of
        <a routerLink="/parallel/wish/the/mirror" routerLinkActive="active">mirror</a>, with two
        <a routerLink="/two/sides/one/force" routerLinkActive="active">faces</a>.

    </div>
</div>
